<!doctype html>
<html lang="ko">
<head th:replace="fragment/config :: configFragment"></head>

<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
    
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">보낸 메일함 관리</h2>
                            <div class="mt-4">
                                <form action="">
                                    <input type="hidden" name="menu_id" th:value="${menuId}"/>
                                    <input type="hidden" name="send_ymd" th:value="${send_ymd}"/>
                                    <input type="hidden" name="send_mail_sn" th:value="${send_mail_sn}"/>
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light">보낸날짜</th>
                                                <td th:text="${selectDetailMail.reg_date}">2024.11.15 12:39:57</td>
                                            </tr>
                                            <tr>
                                                <th>받는 사람</th>
                                                <td th:text="${selectMailSendName.mail_send_name}">test@kbfg.com</td>
                                            </tr>
                                            <tr>
                                                <th>제목</th>
                                                <td th:text="${selectDetailMail.mail_ttl}">KB이노베이션 허브 2024년 상반기 결과 안내 드립니다.</td>
                                            </tr>
                                            <tr>
                                                <th class="bg-light">메일 내용</th>
                                                <td>
                                                    <textarea class="form-control" id="formText" rows="5" th:text="${selectDetailMail.mail_cn}" readonly></textarea>
                                                </td>
                                            </tr>
                                            <!--
                                            <tr>
                                                <th class="bg-light">첨부 파일</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-control w-auto" type="file" id="formFile">
                                                    </div>
                                                </td>
                                            </tr>
                                            -->
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <!--<button type="submit" class="btn btn-primary">등록하기</button>-->
                                        <a th:href="@{/mail/list/{menuId}(menuId=${menuId})}" class="btn btn-outline-primary">목록보기</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>