<!--
 파일명     : starters.html
 관련자바   : StartersController
 화면명     : KB스타터스 관리
 설명       : KB스타터스 등록, 수정, 조회 처리
 최초개발일 : 2024.11.11
 최초개발자 : 양윤지
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
<div class="wrap">
    <div th:replace="fragment/header :: headerFragment"></div>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">KB스타터스</h2>
                        <div class="mt-4">
                            <form th:action="@{/starters/save}" method="post" name="starters_form">
                                <input type="hidden" name="star_sn" th:value="${result?.star_sn}">
                                <table class="table table-bordered align-middle">
                                    <tbody>
                                    <tr>
                                        <th class="bg-light" style="width:18%">선발 프로세스</th>
                                        <td>
                                            <p class="mb-2">최대 48자까지 입력 가능합니다.</p>
                                            <!-- <input type="text" class="form-control" value=""> -->
                                            <textarea class="form-control" name="slctn_prcs" rows="2" th:text="${result?.slctn_prcs}" th:maxlength="48"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">KB스타터스 현황</th>
                                        <td>
                                            <p class="mb-2">최대 48자까지 입력 가능합니다.</p>
                                            <!-- <input type="text" class="form-control" value=""> -->
                                            <textarea class="form-control" name="starter_stts" rows="2" th:text="${result?.starter_stts}" th:maxlength="48"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">지원하기</th>
                                        <td>
                                            <p class="mb-2">최대 48자까지 입력 가능합니다.</p>
                                            <!-- <input type="text" class="form-control" value=""> -->
                                            <textarea class="form-control" name="sprt" rows="2"  th:text="${result?.sprt}" th:maxlength="48"></textarea>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="button-container">
                                    <button type="button" class="btn btn-primary" onclick="javascript:confirmMsg()">저장하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:src="@{/js/admin.js}"></script>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    }
    // 컨펌 메시지 띄우는 함수
    function confirmMsg() {
        let result = confirm("저장 하시겠습니까?");
        if(!result) {
            return false;
        } else {
            var rslt_sn = $("input[name=rslt_sn]").val();
            // PK 값이 비어있으면 기본 값 0 세팅
            if(rslt_sn == "") {
                $("input[name=rslt_sn]").val(0);
            }
            // 폼 태그 서브밋 보내기
            f=document.starters_form;
            f.submit();
        }
    }
</script>
</body>
</html>