<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<style>
    .button-wrap > .btn {
        padding: 9px 18px !important;
        margin: 0 5px;
    }

    .search-btn {
        margin-right: 5px;
    }
</style>
<body>
<div class="wrap">
    <div th:replace="fragment/header :: headerFragment"></div>

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">지원서 접수</h2>
                        <div class="mt-4">
                            <input type="hidden" name="menu_id" th:value="${menuId}"/>
                            <div class="top-search d-flex mt-4">
                                <div class="col">
                                    <form th:action="@{/receipt/receiptList/{menuId}(menuId=${menuId})}" method="get">
                                        <input type="hidden" name="surveyNo" th:value="${surveyNo}"/>
                                        <div class="d-flex align-items-center">
                                            <div class="input-group">
                                                <div class="title" style="margin-right: 1rem;">처리상태</div>
                                                <select id="filterType" class="form-select" aria-label="" name="type">
                                                    <option value="">전체</option>
                                                    <option value="접수" th:selected="${search.type} == '접수'">접수</option>
                                                    <option value="1차" th:selected="${search.type} == '1차'">1차</option>
                                                    <option value="2차" th:selected="${search.type} == '2차'">2차</option>
                                                    <option value="3차" th:selected="${search.type} == '3차'">3차</option>
                                                    <option value="4차" th:selected="${search.type} == '4차'">4차</option>
                                                    <option value="5차" th:selected="${search.type} == '5차'">5차</option>
                                                    <option value="심사" th:selected="${search.type} == '심사'">심사</option>
                                                    <option value="합격" th:selected="${search.type} == '합격'">합격</option>
                                                    <option value="불합격" th:selected="${search.type} == '불합격'">불합격
                                                    </option>
                                                </select>
                                                <button type="submit" class="btn btn-dark search-btn"><span
                                                        data-feather="search"></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <div class="button-wrap d-flex justify-content-end">
                                        <a href="javascript:selectChangeStatus()" class="btn btn-outline-dark">
                                            선택 상태 변경
                                        </a>
                                        <a href="javascript:selectDelete()" class="btn btn-outline-danger">
                                            <i data-feather="trash-2"></i> 선택 삭제
                                        </a>
                                        <a href="javascript:exportExcel()" class="btn btn-outline-dark">
                                            <i data-feather="download"></i> 전체 엑셀 다운로드
                                        </a>
                                        <a href="javascript:exportExcel(true)" class="btn btn-outline-dark">
                                            <i data-feather="download"></i> 선택 엑셀 다운로드
                                        </a>
                                        <a href="javascript:selectMailSend()" class="btn btn-outline-dark">
                                            <i data-feather="mail"></i> 선택 메일 발송
                                        </a>
                                        <a href="javascript:moveMailSend()" class="btn btn-outline-dark">
                                            <i data-feather="mail"></i> 메일 발송
                                        </a>
                                        <a th:href="@{/receipt/list/{menuId}(menuId=${menuId})}"
                                           class="btn btn-outline-primary">목록보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="table-scroll">
                                <table id="mytable" class="table table-min table-small text-center align-middle">
                                    <thead>
                                    <tr>
                                        <th style="width:60px">
                                            <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                        </th>
                                        <th style="width:200px">회사명</th>
                                        <th style="width:200px">이메일</th>
                                        <th style="width:120px">처리상태</th>
                                        <th style="width:100px">상태변경</th>
                                        <th th:each="question : ${questionList}"
                                            th:if="${question.question_type_no != 4}" th:text="${question.question_title}">
                                        </th>
                                        <th style="width:100px">관리</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 검색 결과 없을 때 -->
                                    <tr th:if="${applyList == null or applyList.isEmpty()}">
                                        <td class="py-5" th:colspan="${6 + colCount}">
                                            검색 결과가 없습니다.
                                        </td>
                                    </tr>

                                    <!-- 리스팅 -->
                                    <tr th:unless="${applyList == null or applyList.isEmpty()}"
                                        th:each="list : ${applyList}">
                                        <td>
                                            <input class="form-check-input" type="checkbox" name="applyCheck" th:value="${list.apply_no}">
                                        </td>
                                        <td th:text="${list.company_name}">-</td>
                                        <td>
                                            <span class="apply-email" th:text="${list.email}"></span>
                                        </td>
                                        <td>
                                            <select name="apply_status" class="form-select form-select-sm">
                                                <option value="접수" th:selected="${list.apply_status} == '접수'">접수
                                                </option>
                                                <option value="1차" th:selected="${list.apply_status} == '1차'">1차
                                                </option>
                                                <option value="2차" th:selected="${list.apply_status} == '2차'">2차
                                                </option>
                                                <option value="3차" th:selected="${list.apply_status} == '3차'">3차
                                                </option>
                                                <option value="4차" th:selected="${list.apply_status} == '4차'">4차
                                                </option>
                                                <option value="5차" th:selected="${list.apply_status} == '5차'">5차
                                                </option>
                                                <option value="심사" th:selected="${list.apply_status} == '심사'">심사
                                                </option>
                                                <option value="합격" th:selected="${list.apply_status} == '합격'">합격
                                                </option>
                                                <option value="불합격" th:selected="${list.apply_status} == '불합격'">불합격
                                                </option>
                                            </select>
                                        </td>

                                        <td>
                                            <button type="button" th:onclick="|updateAlert(this, '${list.apply_no}')|"
                                                    class="btn btn-outline-warning btn-sm">변경
                                            </button>
                                        </td>
                                        <td th:each="question : ${questionList}"
                                            th:if="${question.question_type_no != 4}">
                                            <th:block th:each="answer : ${list.answers}">
                                                <th:block th:if="${question.question_no} == ${answer.question_no}">

                                                    <a th:if="${answer.answer_filename != null and answer.answer_filename != ''}"
                                                       target="_blank"
                                                       th:href="@{/receipt/downloadUserApplyFile(applyAnswerNo=${answer.apply_answer_no})}"
                                                       th:text="${answer.answer_original_filename}"></a>

                                                    <th:block
                                                            th:if="${answer.answer_content != null and answer.answer_content != ''}"
                                                            th:text="${answer.answer_content}">
                                                    </th:block>

                                                    <th:block th:if="${answer.questionChoiceDTO != null}">
                                                        <th:block
                                                                th:text="${answer.questionChoiceDTO.choice_content}"></th:block>
                                                    </th:block>

                                                </th:block>
                                            </th:block>
                                        </td>
                                        <td>
                                            <button type="button" th:onclick="|deleteAlert('${list.apply_no}')|"
                                                    class="btn btn-outline-danger btn-sm">삭제
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script th:src="@{/js/xlsx.full.min.js}"></script>
<script th:src="@{/js/FileSaver.min.js}"></script>
<script th:src="@{/js/admin.js}"></script>
<script th:inline="javascript">

    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    }

    function selectDelete(){
        let applyNos = [];
        $("input[name='applyCheck']:checked").each(function(){
            applyNos.push($(this).val());
        });

        if(applyNos.length === 0){
            alert("선택된 항목이 없습니다.");
            return;
        }

        let result = confirm("선택된 항목을 삭제하시겠습니까?");

        if(result){
            $.ajax({
                url: /*[[@{/receipt/deleteApplyList}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {"applyNos[]": applyNos}, // 보내는 데이터
                success: function (response) {
                    if(response.result == 'success'){
                        alert("삭제에 성공하였습니다.");
                        window.location.reload();
                    }
                    else{
                        alert("삭제에 실패하였습니다.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("삭제를 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }

    function selectMailSend(){
        let receivers = [];
        $("input[name='applyCheck']:checked").each(function(){
            receivers.push($(this).parent().parent().find(".apply-email").text());
        });

        if(receivers.length === 0){
            alert("선택된 항목이 없습니다.");
            return;
        }

        let moveUrl = /*[[@{/receipt/sendMail/{menuId}(menuId=${menuId})}]]*/;
        moveUrl += "?receivers=" + receivers.join(",");

        window.open(moveUrl, "_blank");
    }

    function moveMailSend() {
        let moveUrl = /*[[@{/receipt/sendMail/{menuId}(menuId=${menuId})}]]*/;
        window.open(moveUrl, "_blank");
    }

    $("#checkAll").click(function () {
        $("#mytable tbody input[type=checkbox]").prop('checked', $(this).prop('checked'));
    });

    $("#mytable tbody input[type=checkbox]").click(function () {
        if ($("#mytable tbody input[type=checkbox]:checked").length == $("#mytable tbody input[type=checkbox]").length) {
            $("#checkAll").prop('checked', true);
        } else {
            $("#checkAll").prop('checked', false);
        }
    });

    function selectChangeStatus(){
        let status = $("#filterType").val();
        if(!status || status === ''){
            alert("변경할 상태를 선택해주세요.");
            return;
        }

        let applyNos = [];
        $("input[name='applyCheck']:checked").each(function(){
            applyNos.push($(this).val());
        });

        if(applyNos.length === 0){
            alert("선택된 항목이 없습니다.");
            return;
        }

        let result = confirm("선택된 항목의 상태를 변경하시겠습니까?");

        if(result){
            $.ajax({
                url: /*[[@{/receipt/updateStatusList}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {"applyNos[]": applyNos, "status": status}, // 보내는 데이터
                success: function (response) {
                    if(response.result == 'success'){
                        alert("처리 상태 변경에 성공하였습니다.");
                        window.location.reload();
                    }
                    else{
                        alert("처리 상태 변경에 실패하였습니다.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("처리 상태 변경에 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }

    function exportExcel(onlySelected = false) {
        const table = document.getElementById("mytable");
        const excludeCols = [0, 4, $("#mytable thead th").length - 1];
        const tableData = [];

        // 헤더 추가
        const headerRow = [];
        for (let i = 0; i < table.tHead.rows[0].cells.length; i++) {
            if (!excludeCols.includes(i)) {
                headerRow.push(table.tHead.rows[0].cells[i].innerText.trim());
            }
        }
        tableData.push(headerRow);

        // 본문 데이터 추가
        for (let row of table.tBodies[0].rows) {
            // 선택된 행만 내보내기 (onlySelected가 true일 경우)
            if (onlySelected && !row.cells[0]?.querySelector('input[type="checkbox"]').checked) {
                continue;
            }

            const rowData = [];
            for (let i = 0; i < row.cells.length; i++) {
                if (!excludeCols.includes(i)) {
                    if($(row.cells[i]).find('select').length > 0) {
                        rowData.push($(row.cells[i]).children(0).val());
                    }else{
                        rowData.push(row.cells[i].innerText.trim());
                    }
                }
            }
            tableData.push(rowData);
        }

        if(tableData.length === 1){
            alert("내보낼 데이터가 없습니다.");
            return;
        }

        const worksheet = XLSX.utils.aoa_to_sheet(tableData);
        const workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
        XLSX.writeFile(workbook, "survey_export.xlsx");
    }


    function updateAlert(el, applyNo) {
        let status = $(el).parent().parent().find('select[name=apply_status]').val();
        let result = confirm("처리 상태를 변경 하시겠습니까?");
        if (result) {
            $.ajax({
                url: /*[[@{/receipt/updateApplyStatus}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {"applyNo": applyNo, "status": status}, // 보내는 데이터
                success: function (response) {
                    if(response.result == 'success'){
                        alert("처리 상태 변경에 성공하였습니다.");
                        window.location.reload();
                    }
                    else{
                        alert("처리 상태 변경에 실패하였습니다.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("처리 상태 변경에 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }


    // 수정 페이지 이동
    function guidePage(srvy_sn, menuId) {
        // 빈 form 전달
        let pageMoveForm = document.createElement('form');
        // 인수 값 전달
        let obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'srvy_sn');
        obj.setAttribute('value', srvy_sn);
        pageMoveForm.appendChild(obj);

        let obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'menuId');
        obj2.setAttribute('value', menuId);
        pageMoveForm.appendChild(obj2);

        pageMoveForm.setAttribute('method', 'post');
        pageMoveForm.setAttribute('action', window.staticPath + 'survey/guide');
        document.body.appendChild(pageMoveForm);
        pageMoveForm.submit();
    }

    function deleteAlert(apply_no) {
        let result = confirm("정말 삭제 하시겠습니까?");
        if (result) {
            $.ajax({
                url: /*[[@{/receipt/deleteApply}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {applyNo: apply_no}, // 보내는 데이터
                success: function (response) {
                    if(response.result == 'success') {
                        alert("삭제에 성공하였습니다.");
                        window.location.reload();
                    } else {
                        alert("삭제에 실패하였습니다.");
                    }
                },
                error: function (xhr, status, error) {
                    alert("삭제를 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }


</script>

</body>
</html>