<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>

<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
    
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">지원서 접수 관리</h2>
                            <div class="mt-4">
                            	<input type="hidden" name="menu_id" th:value="${menuId}"/>	
                                <div class="top-search d-flex mt-4">
                                    <div class="col">
                                        <form th:action="@{/receipt/list/{menuId}(menuId=${menuId})}" method="get">
                                            <div class="d-flex align-items-center">
                                                <div class="input-group">
                                                    <select class="form-select" aria-label="" name="type">
                                                        <option value="all" selected>전체</option>
                                                        <option value="title">설문명</option>
													</select>
                                                    <input type="text" class="form-control" placeholder="검색어를 입력해주세요." aria-label="">
                                                    <button class="btn btn-dark">
                                                        <span data-feather="search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <table class="table text-center align-middle">
                                    <thead>
                                        <tr>
                                            <th style="width:20%">No</th>
                                            <th style="width:55%">설문내용</th>
                                            <th style="width:25%">관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- 검색 결과 없을 때 -->
                                        <tr th:if="${surveyList == null or surveyList.isEmpty()}">
                                            <td class="py-5" colspan="10">
                                                검색 결과가 없습니다.
                                            </td>
                                        </tr>
                                        <!-- 리스팅 -->
                                        <tr th:unless="${surveyList == null or surveyList.isEmpty()}" th:each="list : ${surveyList}">
                                            <td th:text="${pagination.totalCount - (listStat.index + pagination.pageSize * (pagination.currentPage))}"></td>
                                            <td th:text="${list.survey_title}"></td>
                                            <td>
                                                <a th:href="@{|/receipt/receiptList/${menuId}?surveyNo=${list.survey_no}|}" class="btn btn-outline-dark btn-sm">지원서 상세보기</a>
                                                <button type="button" th:onclick="|deleteAlert('${list.survey_no}')|" class="btn btn-dark btn-sm">임시 삭제</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이지네이션 -->
                            <nav class="bottom-pagination" aria-label="navigation">
                                <ul class="pagination">
                                    <!-- 맨 앞페이지 이동 버튼 -->
                                    <li class="page-item"
                                        th:classappend="${(pagination.currentPage + 1) == 1} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/survey/list/${menuId}?page=1|}"
                                           aria-label="Previous">
                                            <span data-feather="chevrons-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <!-- 이전으로 이동하는 버튼 -->
                                    <li class="page-item" th:if="${(pagination.currentPage + 1) <= 1}">
                                        <a class="page-link" th:href="@{|/survey/list/${menuId}?page=1|}"
                                           aria-label="Previous">
                                            <span data-feather="chevron-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:unless="${(pagination.currentPage + 1) <= 1}">
                                        <a class="page-link"
                                           th:href="@{|/survey/list/${menuId}?page=${pagination.startPage - 1}|}"
                                           aria-label="Previous">
                                            <span data-feather="chevron-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <th:block
                                            th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                                            th:if="${page != 0}">
                                        <li class="page-item" aria-current="page"
                                            th:classappend="${pagination.currentPage != null ? page == (pagination.currentPage + 1) : page == 1} ? 'active' : ''">
                                            <a th:id="${'page' + page}" class="page-link"
                                               th:href="@{|/survey/list/${menuId}?page=${page}|}" th:text="${page}"></a>
                                        </li>
                                    </th:block>
                                    <!-- 다음으로 이동하는 버튼 -->
                                    <li class="page-item" th:if="${pagination.endPage >= pagination.totalPage}">
                                        <a class="page-link"
                                           th:href="@{|/survey/list/${menuId}?page=${pagination.totalPage}|}"
                                           aria-label="Next">
                                            <span data-feather="chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:unless="${pagination.endPage >= pagination.totalPage}">
                                        <a class="page-link"
                                           th:href="@{|/survey/list/${menuId}?page=${pagination.endPage + 1}|}"
                                           aria-label="Next">
                                            <span data-feather="chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <!-- 맨 끝페이지 이동 버튼 -->
                                    <li class="page-item"
                                        th:classappend="${(pagination.currentPage + 1) == pagination.totalPage} ? 'disabled' : ''">
                                        <a class="page-link"
                                           th:href="@{|/survey/list/${menuId}?page=${pagination.totalPage}|}"
                                           aria-label="Next">
                                            <span data-feather="chevrons-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script th:src="@{/js/admin.js}"></script>
    <script th:inline="javascript">
        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }
        // 수정 페이지 이동
        function guidePage(srvy_sn, menuId) {
            // 빈 form 전달
            let pageMoveForm = document.createElement('form');
            // 인수 값 전달
            let obj = document.createElement('input');
            obj.setAttribute('type', 'hidden');
            obj.setAttribute('name', 'srvy_sn');
            obj.setAttribute('value', srvy_sn);
            pageMoveForm.appendChild(obj);

            let obj2 = document.createElement('input');
            obj2.setAttribute('type', 'hidden');
            obj2.setAttribute('name', 'menuId');
            obj2.setAttribute('value', menuId);
            pageMoveForm.appendChild(obj2);

            pageMoveForm.setAttribute('method', 'post');
            pageMoveForm.setAttribute('action', '/kbinnovationhub_devadm/survey/guide');
            document.body.appendChild(pageMoveForm);
            pageMoveForm.submit();
        }

        function deleteAlert(srvy_sn) {
            let result = confirm("정말 임시 삭제 하시겠습니까?");
            if (result) {
                $.ajax({
                    url: /*[[@{/receipt/tempDelete}]]*/, // 요청 URL
                    type: 'POST', // HTTP 메서드
                    data: { srvy_sn: srvy_sn }, // 보내는 데이터
                    success: function(response) {
                        alert("임시 삭제에 성공하였습니다.");
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("임시 삭제를 실패하였습니다.");
                        console.error('Error:', error);
                    }
                });
            }
        }


    </script>

</body>
</html>