<!doctype html>
<html lang="ko">
<head th:replace="fragment/config :: configFragment"></head>

<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
    
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">지원서 접수 관리</h2>
                            <div class="mt-4">
                            	<input type="hidden" name="menu_id" th:value="${menuId}"/>	
                                <div class="top-search d-flex mt-4">
                                    <div class="col">
                                        <form th:action="@{/receipt/list/{menuId}(menuId=${menuId})}" method="get">
                                            <div class="d-flex align-items-center">
                                                <div class="input-group">
                                                    <select class="form-select" aria-label="" name="type">
                                                        <option value="all" selected>전체</option>
                                                        <option value="title">설문명</option>
													</select>
                                                    <input type="text" class="form-control" placeholder="검색어를 입력해주세요." aria-label="">
                                                    <button class="btn btn-dark">
                                                        <span data-feather="search"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <table class="table text-center align-middle">
                                    <thead>
                                        <tr>
                                            <th style="width:20%">No</th>
                                            <th style="width:55%">설문내용</th>
                                            <th style="width:25%">관리</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- 검색 결과 없을 때 -->
                                        <tr th:if="${selectList == null or selectList.isEmpty()}">
                                            <td class="py-5" colspan="10">
                                                검색 결과가 없습니다.
                                            </td>
                                        </tr>
                                        <!-- 리스팅 -->
                                        <tr th:unless="${selectList == null or selectList.isEmpty()}" th:each="list : ${selectList}">
                                            <td th:text="${list.srvy_sn}">1</td>
                                                <!--<img src="/kbinnovationhub_devadm/images/dummy/visual-slide-image-1.png" width="200" alt="">-->
<!--                                                 <th:block th:if="${list.file_path != null}">
                                                    <img th:src="${list.file_path == null ? '' : '\kbinnovationhub_devadm'+list.file_path + list.file_nm}" width="200" alt="">
                                                    <img src="/kbinnovationhub_devadm/images/dummy/visual-slide-image-1.png" width="200" alt="">
                                                </th:block> -->
                                            <td th:text="${list.srvy_ttl}">2024 하반기 모집</td>
                                            <td>
                                                <!-- <a th:href="@{/receipt/receiptList/{menuId}(menuId=${menuId})}" class="btn btn-outline-dark btn-sm">지원서 상세보기</a> -->
                                                <a th:href="@{|/receipt/receiptList/${menuId}?srvy_sn=${list.srvy_sn}|}" class="btn btn-outline-dark btn-sm">지원서 상세보기</a>
                                                <button type="button" class="btn btn-dark btn-sm">임시 삭제</button>                                            
                                            
                                            <!-- 
                                            	<button type="button" th:onclick="|deleteAlert('${list.srvy_sn}')|" class="btn btn-outline-danger btn-sm">삭제</button>
                                                <a th:href="@{/survey/qstnInsert/{menuId}(menuId=${menuId})}" class="btn btn-outline-dark btn-sm">문항관리</a>
                                                <button th:onclick="|guidePage('${list.srvy_sn}', '${menuId}')|" class="btn btn-outline-dark btn-sm">모집개요관리</button>
                                                <button type="button" th:onclick="|copyAlert('${list.srvy_sn}')|" class="btn btn-outline-danger btn-sm">복사</button>
                                                 -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 페이지네이션 -->
                            <nav class="bottom-pagination" aria-label="navigation">
                                <ul class="pagination">
                                    <!-- 맨 앞페이지 이동 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/receipt/list/${menuId}?page=1|}" aria-label="Previous">
                                            <span data-feather="chevrons-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <!-- 이전으로 이동하는 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/receipt/list/${menuId}?page=${currentPage - 1 < 1 ? 1 : currentPage - 1}|}" aria-label="Previous">
                                            <span data-feather="chevron-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <th:block th:if="${repeat != null}" th:each="num : ${#numbers.sequence(1, repeat)}">
                                        <li class="page-item" aria-current="page" th:classappend="${currentPage != null ? num == currentPage : num == 1} ? 'active' : ''">
                                            <a th:id="${'page' + num}" class="page-link" th:href="@{|/receipt/list/${menuId}?page=${num}|}" th:text="${num}"></a>
                                        </li>
                                    </th:block>
                                    <!-- 다음으로 이동하는 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/receipt/list/${menuId}?page=${currentPage + 1 > repeat ? repeat : currentPage + 1}|}" aria-label="Next">
                                            <span data-feather="chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <!-- 맨 끝페이지 이동 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/receipt/list/${menuId}?page=${repeat}|}" aria-label="Next">
                                            <span data-feather="chevrons-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script th:src="@{/js/admin.js}"></script>
    <script th:inline="javascript">
        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }
        // 수정 페이지 이동
        function guidePage(srvy_sn, menuId) {
            // 빈 form 전달
            let pageMoveForm = document.createElement('form');
            // 인수 값 전달
            let obj = document.createElement('input');
            obj.setAttribute('type', 'hidden');
            obj.setAttribute('name', 'srvy_sn');
            obj.setAttribute('value', srvy_sn);
            pageMoveForm.appendChild(obj);

            let obj2 = document.createElement('input');
            obj2.setAttribute('type', 'hidden');
            obj2.setAttribute('name', 'menuId');
            obj2.setAttribute('value', menuId);
            pageMoveForm.appendChild(obj2);

            pageMoveForm.setAttribute('method', 'post');
            pageMoveForm.setAttribute('action', '/kbinnovationhub_devadm/survey/guide');
            document.body.appendChild(pageMoveForm);
            pageMoveForm.submit();
        }

        function deleteAlert(srvy_sn) {
            let result = confirm("정말 삭제 하시겠습니까?");
            if (result) {
                $.ajax({
                    url: /*[[@{/survey/exmnDelete}]]*/, // 요청 URL
                    type: 'POST', // HTTP 메서드
                    data: { srvy_sn: srvy_sn }, // 보내는 데이터
                    success: function(response) {
                        alert("삭제에 성공하였습니다.");
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("삭제를 실패하였습니다.");
                        console.error('Error:', error);
                    }
                });
            }
        }

        function copyAlert(srvy_sn) {
            let result = confirm("정말 삭제 하시겠습니까?");
            if (result) {
                $.ajax({
                    url: /*[[@{/survey/exmnDelete}]]*/, // 요청 URL
                    type: 'POST', // HTTP 메서드
                    data: { srvy_sn: srvy_sn }, // 보내는 데이터
                    success: function(response) {
                        alert("삭제에 성공하였습니다.");
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("삭제를 실패하였습니다.");
                        console.error('Error:', error);
                    }
                });
            }
        }
    </script>

</body>
</html>