<!doctype html>
<html lang="ko">
<head th:replace="fragment/config :: configFragment"></head>
<script lang="javascript" src="dist/xlsx.full.min.js"></script>
<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
        
		<main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">지원서 접수 관리</h2>
                            <div class="mt-4">
                            	<input type="hidden" name="menu_id" th:value="${menuId}"/>
                                <div class="top-search d-flex mt-4">
                                    <div class="col">
                                        <form action="">
                                            <div class="d-flex align-items-center">
                                                <div class="input-group-small">
                                                    <div class="title">처리상태</div>
                                                    <select class="form-select" aria-label="">
                                                        <option value="1" selected>전체</option>
                                                        <option value="2" selected>처리상태</option>
                                                    </select>
                                                    <button type="button" class="btn btn-dark"><i data-feather="search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <div class="button-wrap d-flex justify-content-end">
                                            <a href="javascript:" class="btn btn-outline-danger">
                                                <i data-feather="trash-2"></i> 선택 삭제
                                            </a>
                                            <a th:href="@{/receipt/sendMail/{menuId}(menuId=${menuId})}" class="btn btn-outline-dark">
                                                <i data-feather="mail"></i> 선택 메일 발송
                                            </a>
                                            <a href="javascript:" class="btn btn-outline-dark">
                                                <i data-feather="download"></i> 선택 엑셀 다운로드
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <div class="table-scroll">
                                    <table  id="mytable" class="table table-min table-small text-center align-middle">
                                        <thead>
                                            <tr>
                                                <th style="width:60px">
                                                    <input class="form-check-input" type="checkbox" value="" id="checkAll">
                                                </th>
                                                <th style="width:200px">회사명</th>
                                                <th style="width:120px">처리상태</th>
                                                <th style="">질문1</th>
                                                <th style="">질문2</th>
                                                <th style="">질문3</th>
                                                <th style="">질문4</th>
                                                <th style="">질문5</th>
                                                <th style="">질문6</th>
                                                <th style="">질문7</th>
                                                <th style="">질문8</th>
                                                <th style="">질문9</th>
                                                <th style="">질문10</th>
                                                <th style="width:100px">관리</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- 검색 결과 없을 때 -->
                                        <tr th:if="${selectList == null or selectList.isEmpty()}">
                                            <td class="py-5" colspan="14">
                                                검색 결과가 없습니다.
                                            </td>
                                        </tr>
                                        
                                        <!-- 리스팅 -->
                                        <tr th:unless="${selectList == null or selectList.isEmpty()}" th:each="list : ${selectList}">
											<td>
                                            	<input class="form-check-input" type="checkbox" value="${list.srvy_qstn_sn}" id="${list.srvy_qstn_sn}">
                                            </td>
                                            <td th:text="${list.conm}">-</td>
											<td>
											
 										
											<select name="prgrs_stts" class="form-select form-select-sm">
											<option th:selected="${list.prgrs_stts}=='0'">접수</option>
											<option th:selected="${list.prgrs_stts}=='1'">1차</option>
											<option th:selected="${list.prgrs_stts}=='2'">2차</option>
											<option th:selected="${list.prgrs_stts}=='3'">3차</option>
											<option th:selected="${list.prgrs_stts}=='4'">4차</option>
											<option th:selected="${list.prgrs_stts}=='5'">5차</option>
											<option th:selected="${list.prgrs_stts}=='6'">합격</option>
											<option th:selected="${list.prgrs_stts}=='7'">불합격</option>
											
											
											    
<!-- 												<option th:selected="${list.prgrs_stts}=='0'">접수</option>    
												<option th:selected="${list.prgrs_stts}=='1'">1차</option>
												<option th:selected="${list.prgrs_stts}=='2'">2차</option>
												<option th:selected="${list.prgrs_stts}=='3'">2차</option>
												<option th:selected="${list.prgrs_stts}=='4'">2차</option>
												<option th:selected="${list.prgrs_stts}=='5'">2차</option>
												<option th:selected="${list.prgrs_stts}=='6'">2차</option>
												<option th:selected="${list.prgrs_stts}=='7'">2차</option>
 -->											</select>
 
 <!-- 
												<select th:switch="${list.prgrs_stts}" class="form-select form-select-sm">
 													<option th:case="">접수</option>
 													<option th:case="1">1차</option>
 													<option th:case="2">2차</option>
 													<option th:case="3">3차</option>
                                                 </select> 
                                                 --> 
											</td>
                                            <td th:text="${list.srvy_qstn_sn}">11</td>
                                            <td th:text="${list.srvy_sn}">12</td>
                                            <td th:text="${list.srvy_sn}">13</td>
                                            <td th:text="${list.srvy_sn}">14</td>
                                            <td th:text="${list.srvy_sn}">15</td>
                                            <td th:text="${list.srvy_sn}">16</td>
                                            <td th:text="${list.srvy_sn}">17</td>
                                            <td th:text="${list.srvy_sn}">18</td>
                                            <td th:text="${list.srvy_sn}">19</td>
                                            <td th:text="${list.srvy_sn}">20</td>
											<td>
                                                <button type="button" th:onclick="|deleteAlert('${list.srvy_sn}')|" class="btn btn-outline-danger btn-sm">삭제</button>
                                            </td>

                                            <!-- 
                                            	<button type="button" th:onclick="|deleteAlert('${list.srvy_sn}')|" class="btn btn-outline-danger btn-sm">삭제</button>
                                                <a th:href="@{/survey/qstnInsert/{menuId}(menuId=${menuId})}" class="btn btn-outline-dark btn-sm">문항관리</a>
                                                <button th:onclick="|guidePage('${list.srvy_sn}', '${menuId}')|" class="btn btn-outline-dark btn-sm">모집개요관리</button>
                                                <button type="button" th:onclick="|copyAlert('${list.srvy_sn}')|" class="btn btn-outline-danger btn-sm">복사</button>
                                                 -->
                                        </tr>
                                        
                                            
                                        </tbody>
                                    </table>
                                </div>
                            <!-- 페이지네이션 -->
                            <nav class="bottom-pagination" aria-label="navigation">
                                <ul class="pagination">
                                    <!-- 맨 앞페이지 이동 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/survey/list/${menuId}?page=1|}" aria-label="Previous">
                                            <span data-feather="chevrons-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <!-- 이전으로 이동하는 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/survey/list/${menuId}?page=${currentPage - 1 < 1 ? 1 : currentPage - 1}|}" aria-label="Previous">
                                            <span data-feather="chevron-left" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <th:block th:if="${repeat != null}" th:each="num : ${#numbers.sequence(1, repeat)}">
                                        <li class="page-item" aria-current="page" th:classappend="${currentPage != null ? num == currentPage : num == 1} ? 'active' : ''">
                                            <a th:id="${'page' + num}" class="page-link" th:href="@{|/survey/list/${menuId}?page=${num}|}" th:text="${num}"></a>
                                        </li>
                                    </th:block>
                                    <!-- 다음으로 이동하는 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/survey/list/${menuId}?page=${currentPage + 1 > repeat ? repeat : currentPage + 1}|}" aria-label="Next">
                                            <span data-feather="chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <!-- 맨 끝페이지 이동 버튼 -->
                                    <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                                        <a class="page-link" th:href="@{|/survey/list/${menuId}?page=${repeat}|}" aria-label="Next">
                                            <span data-feather="chevrons-right" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <script th:src="@{/js/admin.js}"></script>
    <script th:inline="javascript">
    
    var wb = XLSX.utils.table_to_book(document.getElementById('mytable'), {sheet:"지원서 접수 관리",raw:true});
    XLSX.writeFile(wb, ('지원서 접수 관리.xlsx'));
    
        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }
        

        
        
        
        // 수정 페이지 이동
        function guidePage(srvy_sn, menuId) {
            // 빈 form 전달
            let pageMoveForm = document.createElement('form');
            // 인수 값 전달
            let obj = document.createElement('input');
            obj.setAttribute('type', 'hidden');
            obj.setAttribute('name', 'srvy_sn');
            obj.setAttribute('value', srvy_sn);
            pageMoveForm.appendChild(obj);

            let obj2 = document.createElement('input');
            obj2.setAttribute('type', 'hidden');
            obj2.setAttribute('name', 'menuId');
            obj2.setAttribute('value', menuId);
            pageMoveForm.appendChild(obj2);

            pageMoveForm.setAttribute('method', 'post');
            pageMoveForm.setAttribute('action', '/kbinnovationhub_devadm/survey/guide');
            document.body.appendChild(pageMoveForm);
            pageMoveForm.submit();
        }

        function deleteAlert(srvy_sn) {
            let result = confirm("정말 삭제 하시겠습니까?");
            if (result) {
                $.ajax({
                    url: /*[[@{/survey/exmnDelete}]]*/, // 요청 URL
                    type: 'POST', // HTTP 메서드
                    data: { srvy_sn: srvy_sn }, // 보내는 데이터
                    success: function(response) {
                        alert("삭제에 성공하였습니다.");
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("삭제를 실패하였습니다.");
                        console.error('Error:', error);
                    }
                });
            }
        }

        function copyAlert(srvy_sn) {
            let result = confirm("정말 삭제 하시겠습니까?");
            if (result) {
                $.ajax({
                    url: /*[[@{/survey/exmnDelete}]]*/, // 요청 URL
                    type: 'POST', // HTTP 메서드
                    data: { srvy_sn: srvy_sn }, // 보내는 데이터
                    success: function(response) {
                        alert("삭제에 성공하였습니다.");
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("삭제를 실패하였습니다.");
                        console.error('Error:', error);
                    }
                });
            }
        }
    </script>

</body>
</html>