<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Innovation HUB</title>

    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/flatpickr.min.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/base.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/board.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/common.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/main.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/sub.css">
    
    <!-- 임시 스크립트: 헤더/푸터 컴포넌트 (작업용 임시 파일이므로 개발단계부터는 스크립트 파일 안에 HTML 코드 사용) -->
    <script src="/kbinnovationhub_devadm/component/header_preview.js"></script>
    <script src="/kbinnovationhub_devadm/component/footer_preview.js"></script>
    <script>
        const ENV = 'dev'
    </script>

    <!-- 공통 스크립트 -->
    <script src="/kbinnovationhub_devadm/js/scrollreveal.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/gsap.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/ScrollToPlugin.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/ScrollTrigger.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/lenis.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/split-type.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/echarts.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/echarts-wordcloud.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/flatpickr.js"></script>
    <script src="/kbinnovationhub_devadm/js/ko.js"></script>
    <script src="/kbinnovationhub_devadm/js/swiper-bundle.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/countUp.umd.js"></script>
    <script src="/kbinnovationhub_devadm/js/common.js"></script>
</head>
<body>
    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="nurture nurture-domestic">
            <div class="section section-background">
                <div class="section-wrap">
                    <div class="section-context">
                        <h4 class="section-title"><span class="block"><span class="highlight">협력기관 연계</span><sup>04</sup></span></h4>
                        <p class="section-text">정부기관 등 외부 육성기관과 연계한 외부 IR 기회 제공, 사업화 자금 지원 추천 등 스타트업 성장 단계별 외부 프로그램 연계를 통해 스타트업의 성장을 지원합니다.</p>
                    </div>
                    <ul class="cooperation-list">
                        <li>
                            <div class="thumbnail">
                                <img th:src="|\kbinnovationhub_devadm${cooperation.coope_path + cooperation.coope_file_name}|" alt="">
                            </div>
                        </li>
                        <li th:each="list : ${selectList}">
                            <div class="thumbnail">
                                <img th:src="|\kbinnovationhub_devadm${list.coope_path + list.coope_file_name}|" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>
</body>
</html>