<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Innovation HUB | 미리보기</title>

    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/sub.css}">

    <!-- 임시 스크립트: 헤더/푸터 컴포넌트 (작업용 임시 파일이므로 개발단계부터는 스크립트 파일 안에 HTML 코드 사용) -->
    <script th:src="@{/component/header_preview.js}"></script>
    <script th:src="@{/component/footer_preview.js}"></script>

    <!-- 공통 스크립트 -->
    <script th:src="@{/js/scrollreveal.min.js}"></script>
    <script th:src="@{/js/gsap.min.js}"></script>
    <script th:src="@{/js/ScrollToPlugin.min.js}"></script>
    <script th:src="@{/js/ScrollTrigger.min.js}"></script>
    <script th:src="@{/js/lenis.min.js}"></script>
    <script th:src="@{/js/split-type.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/echarts-wordcloud.min.js}"></script>
    <script th:src="@{/js/flatpickr.js}"></script>
    <script th:src="@{/js/ko.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/js/countUp.umd.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<!-- 헤더 -->
<app-header></app-header>

<!-- 본문 -->
<main class="main">
    <div class="section-top">
        <div class="section-top-wrap">
            <nav aria-label="Breadcrumb" class="breadcrumb" data-breadcrub-theme="light">
                <ul>
                    <li><a href="#"><i class="icon icon-home"></i><span class="blind">HOME</span></a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><span aria-current="page">공지사항</span></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="board-view">
        <div class="board-view-head">
            <p class="title" th:text="${notice.ntc_ttl}"></p>
            <div class="info">
                <span class="author"><b>Author</b> <span th:text="${member.mngr_nm}"></span></span>
                <span class="date"><b>Date</b> <span th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span></span>
            </div>
        </div>
        <div class="board-view-body">
            <!-- 에디터로 작성된 콘텐츠 영역 -->
            <div class="contents" th:utext="${notice.ntc_cn}"></div>
            <!-- 첨부파일 -->
            <ul class="addition" th:if="${notice.ntc_path != null}">
                <li class="file">
                    <ul class="list">
                        <li>
                            <a th:href="@{${notice?.ntc_path + notice?.ntc_file_name}}" th:attr="download=${notice?.origin_file_name}" title="첨부파일 다운로드">
                                <i class="icon icon-download"></i>
                                <span th:text="${notice?.origin_file_name}"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="board-view-foot">
            <div class="col">
                <!-- 이전/다음 글 없을 때, disabled 클래스 추가 -->
                <a class="link previous" href="#">
                    <i class="icon"></i>
                    <div class="text-wrap">
                        <span class="title">PREV</span>
                        <span class="text" >이전 글이 없습니다.</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="link next" href="#">
                    <i class="icon"></i>
                    <div class="text-wrap">
                        <span class="title">NEXT</span>
                        <span class="text">다음 글이 없습니다.</span>
                    </div>
                </a>
            </div>
            <div class="col">
                <a class="button button-border" href="#">목록으로</a>
            </div>
        </div>
    </div>
</main>

<script th:inline="javascript">
    window.staticPath = /*[[${@environment.getProperty('staticpath')} + '/']]*/'/';
    if(window.staticPath === '//') {
        window.staticPath = '/';
    }
</script>
<!-- 푸터 -->
<app-footer></app-footer>
</body>
</html>