<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>

<body>
<div class="wrap">
    <div th:replace="fragment/header :: headerFragment"></div>

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">지원서 설문 <span id="helpSurvey" class="help"><i class="mb-1"
                                                                                    data-feather="help-circle"></i></span>
                        </h2>
                        <div class="mt-4">
                            <input type="hidden" name="menu_id" th:value="${menuId}"/>
                            <div class="top-search d-flex mt-4">
                                <div class="col">
                                    <form th:action="@{/survey/list/{menuId}(menuId=${menuId})}" method="get">
                                        <div class="d-flex align-items-center">
                                            <div class="input-group">
                                                <select class="form-select" aria-label="" name="type">
                                                    <option value="all">전체</option>
                                                    <option value="title" th:selected="${search.type == 'title'}">설문 제목
                                                    </option>
                                                </select>
                                                <input type="text" class="form-control" placeholder="검색어를 입력해주세요."
                                                       aria-label="" name="keyword" th:value="${search.keyword}">
                                                <button class="btn btn-dark" type="submit">
                                                    <span data-feather="search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-auto">
                                    <div class="button-wrap d-flex justify-content-end">
                                        <a href="#" onclick="addSurvey()" class="btn btn-primary">
                                            <!--<a href="survey_input.html" class="btn btn-primary">-->
                                            <i data-feather="edit"></i> 신규 등록
                                        </a>
                                        <form id="survey_form" name="survey_form" method="post">
                                            <input type="hidden" id="srvy_ttl" name="survey_title">
                                            <input type="hidden" id="survey_no" name="survey_no" th:value="0">
                                            <input type="hidden" id="menu_id" name="menuId" th:value="${menuId}"/>
                                            <input type="hidden" id="file_yn" name="file_yn" value="0">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <table class="table text-center align-middle survey-table">
                                <thead>
                                <tr>
                                    <th style="width:40%">설문 제목</th>
                                    <th style="width:10%">지원자수</th>
                                    <th style="width:20%">노출/마감</th>
                                    <th style="width:30%">관리</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 검색 결과 없을 때 -->
                                <tr th:if="${surveyList.isEmpty()}">
                                    <td class="py-5 no-result" colspan="10">
                                        검색 결과가 없습니다.
                                    </td>
                                </tr>
                                <!-- 리스팅 -->
                                <tr th:each="row : ${surveyList}">
                                    <td>
                                        <span th:text="${row.survey_title}" style="margin-right: 10px;"></span>
                                        <button class="btn btn-outline-dark btn-sm" th:onclick="|funTitleModify(${row.survey_no}, event)|">수정</button>
                                    </td>
                                    <td th:text="${row.apply_cnt}"></td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <span th:if="${row.delete_yn == 'N'}">
                                                <input class="form-check-input" style="cursor: pointer" type="checkbox"
                                                       name="proc_yn" th:id="${'proc_yn' + row.survey_no}"
                                                       th:value="${row.survey_no}"
                                                       th:onclick="|funProcSurvey(${row.survey_no}, event)|">
                                                <label class="form-check-label" style="cursor: pointer"
                                                       th:for="${'proc_yn' + row.survey_no}">노출</label>
                                            </span>
                                            <span th:if="${row.delete_yn == 'C' or row.delete_yn == 'D'}">
                                                <input checked class="form-check-input" style="cursor: pointer"
                                                       type="checkbox" name="proc_yn"
                                                       th:id="${'proc_yn' + row.survey_no}" th:value="${row.survey_no}"
                                                       th:onclick="|funProcCancelSurvey(${row.survey_no}, event)|">
                                                <label class="form-check-label" style="cursor: pointer"
                                                       th:for="${'proc_yn' + row.survey_no}">노출</label>
                                            </span>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <span th:if="${row.delete_yn == 'N' or row.delete_yn == 'C'}">
                                                <input class="form-check-input"
                                                       th:style="${row.delete_yn == 'N' ? '' : 'cursor:pointer'}"
                                                       type="checkbox" name="close_yn"
                                                       th:id="${'close_yn' + row.survey_no}" th:value="${row.survey_no}"
                                                       th:onclick="|funCloseSurvey(${row.survey_no}, 'D', event)|"
                                                       th:disabled="${row.delete_yn == 'N'}">
                                                <label class="form-check-label"
                                                       th:style="${row.delete_yn == 'N' ? '' : 'cursor:pointer'}"
                                                       th:for="${'close_yn' + row.survey_no}">마감</label>
                                            </span>
                                            <span th:if="${row.delete_yn == 'D'}">
                                                <input th:if="${row.delete_yn == 'D'}" style="cursor: pointer" checked
                                                       class="form-check-input" type="checkbox" name="close_yn"
                                                       th:id="${'close_yn' + row.survey_no}" th:value="${row.survey_no}"
                                                       th:onclick="|funCloseSurvey(${row.survey_no}, 'C', event)|">
                                                <label class="form-check-label" style="cursor: pointer"
                                                       th:for="${'close_yn' + row.survey_no}">마감</label>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <a th:href="@{|/survey/guide/${menuId}?surveyNo=${row.survey_no}|}"
                                           class="btn btn-outline-dark btn-sm">모집개요관리
                                        </a>
                                        <a th:href="@{|/survey/manageSurvey/${menuId}?surveyNo=${row.survey_no}|}"
                                           class="btn btn-outline-dark btn-sm">문항관리</a>
                                        <a th:href="@{|/receipt/receiptList/402000?surveyNo=${row.survey_no}|}"
                                           class="btn btn-outline-dark btn-sm">접수관리</a>
                                        <div style="margin-top: 10px;">
                                            <button type="button" th:onclick="|deleteAlert('${row.survey_no}')|"
                                                    class="btn btn-outline-danger btn-sm">임시 삭제
                                            </button>
                                            </button>
                                            <button type="button" th:onclick="|copyAlert('${row.survey_no}')|"
                                                    class="btn btn-outline-danger btn-sm">복사
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 페이지네이션 -->
                        <nav class="bottom-pagination" aria-label="navigation">
                            <ul class="pagination">
                                <!-- 맨 앞페이지 이동 버튼 -->
                                <li class="page-item"
                                    th:classappend="${(pagination.currentPage + 1) == 1} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|/survey/list/${menuId}?page=1|}"
                                       aria-label="Previous">
                                        <span data-feather="chevrons-left" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <!-- 이전으로 이동하는 버튼 -->
                                <li class="page-item" th:if="${(pagination.currentPage + 1) <= 1}">
                                    <a class="page-link" th:href="@{|/survey/list/${menuId}?page=1|}"
                                       aria-label="Previous">
                                        <span data-feather="chevron-left" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li class="page-item" th:unless="${(pagination.currentPage + 1) <= 1}">
                                    <a class="page-link"
                                       th:href="@{|/survey/list/${menuId}?page=${pagination.startPage - 1}|}"
                                       aria-label="Previous">
                                        <span data-feather="chevron-left" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <th:block
                                        th:each="page : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                                        th:if="${page != 0}">
                                    <li class="page-item" aria-current="page"
                                        th:classappend="${pagination.currentPage != null ? page == (pagination.currentPage + 1) : page == 1} ? 'active' : ''">
                                        <a th:id="${'page' + page}" class="page-link"
                                           th:href="@{|/survey/list/${menuId}?page=${page}|}" th:text="${page}"></a>
                                    </li>
                                </th:block>
                                <!-- 다음으로 이동하는 버튼 -->
                                <li class="page-item" th:if="${pagination.endPage >= pagination.totalPage}">
                                    <a class="page-link"
                                       th:href="@{|/survey/list/${menuId}?page=${pagination.totalPage}|}"
                                       aria-label="Next">
                                        <span data-feather="chevron-right" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li class="page-item" th:unless="${pagination.endPage >= pagination.totalPage}">
                                    <a class="page-link"
                                       th:href="@{|/survey/list/${menuId}?page=${pagination.endPage + 1}|}"
                                       aria-label="Next">
                                        <span data-feather="chevron-right" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <!-- 맨 끝페이지 이동 버튼 -->
                                <li class="page-item"
                                    th:classappend="${(pagination.currentPage + 1) == pagination.totalPage} ? 'disabled' : ''">
                                    <a class="page-link"
                                       th:href="@{|/survey/list/${menuId}?page=${pagination.totalPage}|}"
                                       aria-label="Next">
                                        <span data-feather="chevrons-right" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:src="@{/js/admin.js}"></script>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    }

    function funProcSurvey(srvy_sn, event) {
        let result = confirm("해당 지원서를 사용자에게 [노출] 처리 하시겠습니까?");
        const checkbox = event.target;
        const originalState = checkbox.checked;

        if (result) {
            $.ajax({
                url: /*[[@{/survey/choice}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {survey_no: srvy_sn}, // 보내는 데이터
                dataType: "JSON",
                success: function (response) {
                    if (response.result == "success") {
                        alert("지원서가 [노출] 상태로 변경 되었습니다.");
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("지원서 상태 변경에 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        } else {
            // 사용자가 '아니오'를 선택한 경우, 체크박스 상태를 원래대로 되돌림
            checkbox.checked = !originalState;
        }
    }

    function funProcCancelSurvey(srvy_sn, event) {
        let result = confirm("해당 지원서를 [미노출] 처리 하시겠습니까?");
        const checkbox = event.target;
        const originalState = checkbox.checked;

        if (result) {
            $.ajax({
                url: /*[[@{/survey/choiceCancelAlert}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {survey_no: srvy_sn}, // 보내는 데이터
                dataType: "JSON",
                success: function (response) {
                    if (response.result == "success") {
                        alert("지원서가 [미노출] 상태로 변경 되었습니다.");
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("지원서 상태 변경에 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        } else {
            // 사용자가 '아니오'를 선택한 경우, 체크박스 상태를 원래대로 되돌림
            checkbox.checked = !originalState;
        }
    }

    function funCloseSurvey(srvy_sn, type, event) {
        let alert_msg = '마감 - 지원 불가';

        if (type === 'C') {
            alert_msg = '지원 가능'
        }

        let result = confirm("해당 지원서를 [" + alert_msg + "] 처리 하시겠습니까?");
        const checkbox = event.target;
        const originalState = checkbox.checked;

        if (result) {
            $.ajax({
                url: /*[[@{/survey/close}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {survey_no: srvy_sn, type: type}, // 보내는 데이터
                dataType: "JSON",
                success: function (response) {
                    if (response.result == "success") {
                        alert("지원서가 [" + alert_msg + "] 상태로 변경 되었습니다.");
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("지원서 상태 변경에 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        } else {
            // 사용자가 '아니오'를 선택한 경우, 체크박스 상태를 원래대로 되돌림
            checkbox.checked = !originalState;
        }
    }

    function deleteAlert(survey_no) {
        let result = confirm("임시 삭제 하시겠습니까?\n삭제된 지원서는 [지원서 임시 보관함]에서 복구하실 수 있습니다");
        if (result) {
            $.ajax({
                url: /*[[@{/receipt/tempDelete}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {survey_no: survey_no, delete_yn: 'Y'}, // 보내는 데이터
                success: function (response) {
                    alert("임시 삭제에 성공하였습니다.");
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    alert("임시 삭제를 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }

    function copyAlert(surveyNo) {
        let result = confirm("정말 복사 하시겠습니까?");
        if (result) {
            $.ajax({
                url: /*[[@{/survey/surverCopy}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: {surveyNo: surveyNo}, // 보내는 데이터
                dataType: "JSON",
                success: function (response) {
                    if (response.result == 'success') {
                        alert("복사에 성공하였습니다.");
                        window.location.reload();
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("복사를 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }

    function addSurvey() {
        if ($('#srvy_ttl_ins').length > 0) {
            alert('신규 등록 폼이 있습니다.');
            $('#srvy_ttl_ins').focus();
            return false;
        }

        var newRow = $('<tr>').append(
            $('<td colspan="3">').append(
                $('<input>', {
                    type: 'text',
                    id: 'srvy_ttl_ins',
                    maxLength: 50,
                    class: 'form-control',
                    placeholder: '설문명을 입력하세요'
                })
            ),
            $('<td>').append(
                $('<button>', {
                    class: 'btn btn-primary',
                    text: '등록'
                }).on('click', function () {
                    // 버튼 클릭 시 수행할 동작
                    surveyInsert()
                })
            )
        );

        $('.survey-table tbody tr:first').before(newRow);

        $('.no-result').hide();
    }

    function surveyInsert() {
        var srvyTtl = $("#srvy_ttl_ins").val();
        if (srvyTtl === null || srvyTtl === '') {
            alert("설문 제목을 입력하세요.")
            $("#srvy_ttl_ins").focus();
            return false;
        }

        $('#srvy_ttl').val($("#srvy_ttl_ins").val());


        let result = confirm("등록 하시겠습니까?");
        if (result) {
            const form = document.forms['survey_form'];
            form.action = window.staticPath + 'survey/makeSurvey';   //전송할 URL
            form.method = 'POST';                                    //전송 방식
            form.target = '';                                        //새 창에서 열기
            form.submit();                                           //폼 제출
        }
    }

    function funTitleModify(survey_no, event) {
        var $button = $(event.target);
        var $span = $button.prev('span');
        var currentTitle = $span.text().trim();

        if ($button.text() === '수정') {
            // 수정 모드로 전환
            var $input = $('<input>', {
                type: 'text',
                id: 'srvy_ttl_ins_' + survey_no,
                maxLength: 50,
                class: 'form-control d-inline-block w-auto',
                value: currentTitle
            });

            var $saveButton = $('<button>', {
                class: 'btn btn-outline-success btn-sm ml-2',
                style: 'margin-left: 10px;',
                text: '수정'
            });

            var $cancelButton = $('<button>', {
                class: 'btn btn-outline-secondary btn-sm ml-2',
                style: 'margin-left: 10px;',
                text: '취소'
            });

            $span.hide().after($input, $saveButton, $cancelButton);
            $button.hide();

            $saveButton.on('click', function () {
                updateSurveyTitle(survey_no, $input.val().trim(), $span, $input, $button, $saveButton, $cancelButton);
            });

            $cancelButton.on('click', function () {
                cancelEdit($span, $input, $button, $saveButton, $cancelButton);
            });
        }
    }
    function updateSurveyTitle(survey_no, newTitle, $span, $input, $button, $saveButton, $cancelButton) {
        if(newTitle === '') {
            alert('설문 제목을 입력하세요');
            $input.focus();
            return false
        }

        if (newTitle && newTitle !== $span.text().trim()) {
            $('#srvy_ttl').val(newTitle);
            $('#survey_no').val(survey_no);

            let result = confirm("수정 하시겠습니까?");
            if (result) {
                const form = document.forms['survey_form'];
                form.action = window.staticPath + 'survey/updateSurvey';   //전송할 URL
                form.method = 'POST';                                    //전송 방식
                form.target = '';                                        //새 창에서 열기
                form.submit();                                           //폼 제출
            }
        } else {
            cancelEdit($span, $input, $button, $saveButton, $cancelButton);
        }
    }

    function cancelEdit($span, $input, $button, $saveButton, $cancelButton) {
        $span.show();
        $input.remove();
        $saveButton.remove();
        $cancelButton.remove();
        $button.show();
    }
</script>

</body>
</html>