<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>

<body>
<div class="wrap">
    <div th:replace="fragment/header :: headerFragment"></div>

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">지원서 설문 관리 <span id="helpSurveyGuide" class="help"><i class="mb-1"
                                                                                            data-feather="help-circle"></i></span>
                        </h2>
                        <hr>
                        <h3 class="h5">모집개요 관리</h3>
                        <div class="mt-4">
                            <form id="guide_form" name="guide_form" th:action="@{/survey/guideIns}" method="post">
                                <input type="hidden" name="menuId" th:value="${menuId}"/>
                                <table class="table table-bordered align-middle">
                                    <tbody th:if="${surveyInfo != null}">
                                    <tr>
                                        <th class="bg-light" colspan="2" style="width:25%">모집 구분</th>
                                        <td>
                                            <input type="hidden" id="survey_no" name="survey_no"
                                                   th:value="${surveyInfo.survey_no}"/>
                                            <input type="hidden" id="survey_info_no" name="survey_info_no"
                                                   th:value="${surveyInfo.survey_info_no}"/>
                                            <input type="text" class="form-control" name="survey_category"
                                                   th:value="${surveyInfo.survey_category}" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" colspan="2">모집 기간</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_date_range"
                                                   th:value="${surveyInfo.survey_date_range}" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" rowspan="2">모집 대상</th>
                                        <th class="bg-light">메인 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_target_heading"
                                                   th:value="${surveyInfo.survey_target_heading}" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">서브 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_target_sub"
                                                   th:value="${surveyInfo.survey_target_sub}" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" rowspan="2">모집 분야</th>
                                        <th class="bg-light">메인 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_field_heading"
                                                   th:value="${surveyInfo.survey_field_heading}" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">서브 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_field_sub"
                                                   th:value="${surveyInfo.survey_field_sub}" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" colspan="2">선발 절차</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_select_process"
                                                   th:value="${surveyInfo.survey_select_process}" maxlength="50">
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody th:if="${surveyInfo == null}">
                                    <tr>
                                        <th class="bg-light" colspan="2" style="width:25%">모집 구분</th>
                                        <td>
                                            <input type="hidden" name="survey_no" th:value="${surveyNo}"/>
                                            <input type="text" class="form-control" name="survey_category" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" colspan="2">모집 기간</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_date_range" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" rowspan="2">모집 대상</th>
                                        <th class="bg-light">메인 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_target_heading" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">서브 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_target_sub" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" rowspan="2">모집 분야</th>
                                        <th class="bg-light">메인 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_field_heading" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light">서브 텍스트</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_field_sub" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="bg-light" colspan="2">선발 절차</th>
                                        <td>
                                            <input type="text" class="form-control" name="survey_select_process" maxlength="50">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="button-container">
                                    <!--<button type="submit" class="btn btn-primary">등록하기</button>-->
                                    <button onclick="preview();"
                                    class="btn btn-outline-primary">미리보기
                                    </button>
                                    <!--<a href="javascript:" class="btn btn-outline-primary" onclick="history.back();">목록보기</a>-->
                                    <a th:href="@{/survey/list/{menuId}(menuId=${menuId})}"
                                    class="btn btn-outline-primary">목록보기</a>
                                    <button type="button" class="btn btn-primary" onclick="guideInsert()">등록하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    }

    function guideInsert() {
        let obj = $('input[type=text]');
        let checkValid = false;

        for(let i = 0; i < obj.length; i++) {
            if($.trim($(obj[i]).val()) === '') {
                obj = obj[i];
                checkValid = true;
                break;
            }
        }

        if(checkValid) {
            alert($(obj).parent().prev().text() + ' 정보를 입력하세요.');
            $(obj).focus();
            return false;
        }


        let result = confirm("등록 하시겠습니까?");
        if (result) {
            const form = document.forms['guide_form'];
            form.action = /*[[@{'/survey/guideIns'}]]*/;
            form.method = 'POST';                                    //전송 방식
            form.target = '';                                        //새 창에서 열기
            form.submit();                                           //폼 제출
        }
    }

    function preview() {
        const form = document.forms['guide_form'];
        form.action =  /*[[@{'/survey/guidePreview'}]]*/;
        form.method = 'POST';                                    //전송 방식
        form.target = '_blank';                                  //새 창에서 열기
        form.submit();
    }
</script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>