<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="headerFragment">
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0" href="#">KB Innovation HUB 관리자</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="right-link">
                <div class="item">
                    <a class="px-3" th:href="@{/}" target="_blank"><span data-feather="home"></span> 홈페이지</a>
                </div>
                <div class="item">
                    <a class="px-3" th:href="@{/logout}"><span data-feather="log-out"></span> 로그아웃</a>
                </div>
            </div>
        </header>
        <nav class="sidebar" id="sidebarMenu"></nav>

        <script>
            $(document).ready(function() {
                let htmlCode = "";
                $.ajax({
                    url: window.staticPath + `menu/`, // 요청 URL
                    type: `GET`, // HTTP 메서드
                    contentType: `application/x-www-form-urlencoded`, // 헤더 설정
                    data: {}, // 보내는 데이터
                    success: function (response) {
                        htmlCode =
                            `<div class="position-sticky pt-3">
                                <div class="sidebar-nav accordion accordion-flush" id="accordionSideBarNavigation">`;
                                let level1 = [];
                                let level2 = [];
                                for( let i = 0; i < response.length; i++) {
                                    if(response[i].menu_depth == 1) {
                                        level1.push(response[i]);
                                    }

                                    if(response[i].menu_depth == 2) {
                                        if(response[i].menu_sn !== 402000) {
                                            level2.push(response[i]);
                                        }
                                    }
                                };

                                function chgMenuName(mn) {
                                    if(!mn) {
                                        return '';
                                    }

                                    if(mn.includes('HUB센터소식')) {
                                        return "HUB센터 소식";
                                    }

                                    return mn.replace(/ 관리$/, '');
                                }

                                for(let i = 0; i < level1.length; i++) {
                                    var idx;
                                    htmlCode += `<div class="accordion-item">`;
                                    idx = i;
                                    htmlCode += `    <h2 class="accordion-header">`;
                                    htmlCode += `        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pannel`+ idx + `" aria-expanded="false" aria-controls="pannel`+ idx + `">`;
                                    htmlCode += `            <i data-feather="settings"></i>`;
                                    htmlCode +=              chgMenuName(level1[i].menu_nm);
                                    htmlCode += `        </button>`;
                                    htmlCode += `    </h2>`;
                                    htmlCode += `    <div id="pannel` + idx + `" class="accordion-collapse collapse">`;
                                    htmlCode += `        <div class="accordion-body">`;
                                    for(let j = 0; j < level2.length; j++) {
                                        if(level1[i].menu_sn == level2[j].menu_up_sn) {
                                            htmlCode += `    <input type="hidden" id="menu_id_` + level2[j].menu_sn +  `" value="` + level2[j].menu_sn + `"/>`;
                                            htmlCode += `    <a id="` + i + `" class="nav-link" href="` + window.staticPath.replace(/\/$/, "") + level2[j].menu_link +`/` + level2[j].menu_sn + `">`;
                                            htmlCode +=         chgMenuName(level2[j].menu_nm);
                                            htmlCode += `    </a>`;
                                        }
                                    }
                                    htmlCode += `        </div>`;
                                    htmlCode += `    </div>`;
                                    htmlCode += `</div>`;
                                }
                                htmlCode +=
                                    `</div>
                            </div>`;
                        document.getElementById("sidebarMenu").innerHTML = htmlCode;

                        // 만약 메뉴 해당 아이디의 value와 화면의 value가 일치하면
                        // 메뉴를 활성화 시킴(삭제 금지)
                        var menu_id = $("#menu_id_" + $("input[name=menu_id]").val());
                        if(menu_id.val() == $("input[name=menu_id]").val()) {
                            menu_id.parent().parent().prev().children().removeClass("collapsed");
                            menu_id.parent().parent().addClass("show");
                            menu_id.next().addClass("active");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(`Error:`, error);
                    }
                });
            });
        </script>
    </div>
</body>
</html>