<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Innovation HUB</title>

    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/flatpickr.min.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/base.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/board.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/common.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/main.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/sub.css">
    
    <!-- 임시 스크립트: 헤더/푸터 컴포넌트 (작업용 임시 파일이므로 개발단계부터는 스크립트 파일 안에 HTML 코드 사용) -->
    <script src="/kbinnovationhub_devadm/component/header_preview.js"></script>
    <script src="/kbinnovationhub_devadm/component/footer_preview.js"></script>
    <script>
        const ENV = 'dev'
    </script>

    <!-- 공통 스크립트 -->
    <script src="/kbinnovationhub_devadm/js/scrollreveal.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/gsap.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/ScrollToPlugin.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/ScrollTrigger.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/lenis.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/split-type.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/echarts.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/echarts-wordcloud.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/flatpickr.js"></script>
    <script src="/kbinnovationhub_devadm/js/ko.js"></script>
    <script src="/kbinnovationhub_devadm/js/swiper-bundle.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/countUp.umd.js"></script>
    <script src="/kbinnovationhub_devadm/js/common.js"></script>
</head>
<body>
    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="nurture nurture-global">
            <div class="section section-background">
                <div class="section-wrap">
                    <div class="section-context">
                        <h4 class="section-title"><span class="block"><span class="highlight highlight-teal">현지 생태계 <br>교류 지원</span><sup class="color-secondary">03</sup></span></h4>
                        <p class="section-text">스타트업의 글로벌 성장 지원을 위해 현지 기관 연계 데모데이, 간담회 등의 네트워킹 행사를 운영하고, <br class="pc">현지 생태계와의 다양한 교류 기회를 제공합니다.</p>
                    </div>
                    <div class="slider-container">
                        <div class="swiper slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="thumbnail">
                                        <img th:src="|\kbinnovationhub_devadm${interchange.inter_path1 + interchange.inter_file_name1}|" alt="">
                                    </div>
                                    <p class="title" th:text="${interchange.exch_ttl}"></p>
                                    <p class="text" th:text="${interchange.exch_cn}"></p>
                                </div>
                                <div class="swiper-slide" th:each="list : ${selectList}" th:if="${list.inter_path1 != null}">
                                    <div class="thumbnail">
                                        <img th:src="|\kbinnovationhub_devadm${list.inter_path1 + list.inter_file_name1}|" alt="">
                                    </div>
                                    <p class="title" th:text="${list.exch_ttl}"></p>
                                    <p class="text" th:text="${list.exch_cn}"></p>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>

    <script>
    window.addEventListener('DOMContentLoaded', () => {
        slider();
    });

    function slider() {
        var slider = new Swiper('.slider', {
            speed: 400,
            spaceBetween: 12,
            slidesPerView: 1.5,
            slidesPerGroup: 1,
            scrollbar: {
                el: '.slider .swiper-scrollbar',
                draggable: true,
            },
            navigation: {
                nextEl: '.slider-container .swiper-button-next',
                prevEl: '.slider-container .swiper-button-prev',
            },
            breakpoints: {
                1025: {
                    spaceBetween: 24,
                    slidesPerView: 3,
                    slidesPerGroup: 1,
                }
            }
        });
    }
    </script>
</body>
</html>