<!--
 파일명     : faq_category.html
 관련자바   : FaqCategoryController
 화면명     : FAQ 카테고리 관리
 설명       : FAQ 카테고리 조회 및 삭제 처리
 최초개발일 : 2024.11.25
 최초개발자 : 양윤지
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
<div class="wrap">
    <div th:replace="fragment/header :: headerFragment"></div>

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">FAQ 관리</h2>
                        <div class="mt-4">
                            <form th:action="@{/faq/category/update}" method="post" name="faq_category_form">
                                <input type="hidden" name="menu_id" th:value="${menuId}"/>
                                <input type="hidden" name="ctgry_sn" th:value="${category.ctgry_sn}"/>
                                <table class="table table-bordered align-middle">
                                    <tbody>
                                    <tr>
                                        <th class="bg-light" width="20%">카테고리</th>
                                        <td>
                                            <input type="text" class="form-control" name="ctgry_nm" th:value="${category.ctgry_nm}">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="button-container">
                                    <a id="preview-button" href="javascript:previewPage()" class="btn btn-outline-primary">미리보기</a>
                                    <a th:href="@{/faq/category/list/{menuId}(menuId=${menuId})}" class="btn btn-outline-dark">목록보기</a>
                                    <button type="button" class="btn btn-primary" onclick="confirmMsg()">수정하기</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    }

    // 프리뷰 페이지로 이동
    function previewPage() {
        // 카테고리 입력 확인
        var ctgry_nm = $('input[name=ctgry_nm]').val();
        if(ctgry_nm.trim() == "") {
            alert("카테고리명을 입력하세요.");
            return false;
        }

        const form = document.forms['faq_category_form'];
        form.action = window.staticPath + 'faq/category/preview'; // 전송할 URL
        form.method = 'POST';                  // 전송 방식
        form.target = '_blank';                // 새 창에서 열기
        form.submit();                         // 폼 제출
    }

    // 컨펌 메시지 띄우는 함수
    function confirmMsg() {
        // 카테고리 입력 확인
        var ctgry_nm = $('input[name=ctgry_nm]').val();
        if(ctgry_nm.trim() == "") {
            alert("카테고리명을 입력하세요.");
            return false;
        }

        let result = confirm("수정 하시겠습니까?");
        if(!result) {
            return false;
        } else {
            // 폼 태그 서브밋 보내기
            const form = document.forms['faq_category_form'];
            form.action = window.staticPath + 'faq/category/update'; // 전송할 URL
            form.method = 'POST';                  // 전송 방식
            form.target = '';                // 새 창에서 열기
            form.submit();                         // 폼 제출
        }
    }
</script>
</body>
</html>