<!--
 파일명     : menu.html
 관련자바   : MenuController
 화면명     : 메뉴 관리
 설명       : 메뉴 조회, 수정
 최초개발일 : 2024.11.11
 최초개발자 : 양윤지
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">메뉴  <span id="helpMenu" class="help"><i class="mb-1" data-feather="help-circle"></i></span></h2>
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="menu-setup">
                                            <ul>
                                                <li th:each="list : ${selectList}">
                                                    <p class="mb-2 fs-6 fw-bold" th:if="${list.menu_depth == 1}">
                                                        <input type="hidden" name="menu_sn_list" th:value="${list.menu_sn}"/>
                                                        <i class="me-1 align-text-top" data-feather="folder"></i>
                                                        <span th:text="${list.menu_nm}" style="cursor: pointer"></span>
                                                    </p>
                                                    <ol>
                                                        <li th:if="${list.menu_depth == 2}">
                                                            <input type="hidden" name="menu_sn_list" th:value="${list.menu_sn}"/>
                                                            <a class="" href="javascript:" th:text="${list.menu_nm}"></a>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <form th:action="@{/menu/update}" method="post" name="menu_form">
                                            <input type="hidden" name="menu_id" th:value="${menuId}"/>
                                            <input type="hidden" name="menu_sn">
                                            <table class="table align-middle">
                                                <tbody>
                                                    <tr>
                                                        <th>사용여부</th>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="use_yn" id="use_y" value="Y">
                                                                <label class="form-check-label" for="use_y">ON</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="use_yn" id="use_n" value="N">
                                                                <label class="form-check-label" for="use_n">OFF</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>메뉴명 수정</th>
                                                        <td>
                                                            <input class="form-control" type="text" value="" name="menu_nm" maxlength="50">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-center">
                                                <a id="preview-button" href="javascript:previewPage()" class="btn btn-outline-primary">미리보기</a>
                                                <button type="button" class="btn btn-primary" onclick="confirmMsg()">저장</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    }

    // 수정 시 메시지
    function confirmMsg() {
        // 1. 조회 했는 지의 여부
        if( $('input[name=menu_sn]').val() === '') {
            alert("메뉴 조회를 먼저 해 주세요.");
            return false;
        }

        var use_yn = $('input[name=use_yn]').val();
        if(use_yn == null) {
            alert("사용 여부를 체크 하세요.");
            return false;
        }

        var menu_nm = $('input[name=menu_nm]').val();
        if(menu_nm == "") {
            alert("메뉴명을 입력하세요.");
            $('input[name=menu_nm]').focus();
            return false;
        }

        let result = confirm("저장 하시겠습니까?");
        if(result) {
            // PK 값 세팅
            var menu_sn = $('#menu_sn').val();
            //alert(menu_sn);
            //$('input[name=menu_sn]').val(menu_sn);
            // 폼 태그 서브밋 보내기
            const form = document.forms['menu_form'];
            form.action = window.staticPath + 'menu/update'; // 전송할 URL
            form.method = 'POST';            // 전송 방식
            form.target = '';          // 새 창에서 열기
            form.submit();                   // 폼 제출
        }
    }

    // 메뉴 클릭 이벤트
    $(function(){
        $('.menu-setup ol li a, .menu-setup ul li p span').click(function(e){
            // 메뉴 선택하면 on 클래스 추가
            e.preventDefault();
            $('.menu-setup ol li a, .menu-setup ul li p span').removeClass('on');
            $(this).addClass('on');

            // 메뉴 넘버
            var menu_sn = $(this).parent().children().val();
            //alert(menu_sn);
            $('input[name=menu_sn]').val(menu_sn);

            // 메뉴 상세 조회
            $.ajax({
                url: /*[[@{/menu/info}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: { menu_sn: menu_sn }, // 보내는 데이터
                success: function(response) {
                    $("input[name=menu_nm]").val(response.menu_nm);
                    if(response.use_yn == 'Y') {
                        $("#use_y").prop('checked', true);
                    } else {
                        $("#use_n").prop('checked', true);
                    }
                },
                error: function(xhr, status, error) {
                    alert("메뉴 조회에 실패했습니다.");
                    console.error('Error:', error);
                }
            });
        });
    });

    // 프리뷰 페이지로 이동
    function previewPage() {
        if($.trim($('form[name=menu_form] > input[name=menu_sn]').val()) === ''){
            $('input[name=menu_sn]').val(0);
        }

        const form = document.forms['menu_form'];
        form.action = window.staticPath + 'menu/preview'; // 전송할 URL
        form.method = 'POST';            // 전송 방식
        form.target = '_blank';          // 새 창에서 열기
        form.submit();                   // 폼 제출
    }
</script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>