<!--
 파일명     : login.html
 관련자바   : AdminLoginController
 화면명     : 로그인
 설명       : 관리자 로그인 페이지
 최초개발일 : 2024.10.30
 최초개발자 : 이훈희
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>KB Innovation HUB Admin</title>
    <link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-clockpicker.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/summernote-lite.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:inline="javascript">
        window.staticPath = /*[[${@environment.getProperty('staticpath')} + '/']]*/'/';
        if(window.staticPath === '//') {
            window.staticPath = '/';
        }
    </script>
    <!--<script src="../assets/component/header.js"></script>-->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script th:src="@{/js/feather.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/bootstrap-clockpicker.min.js}"></script>
    <!--<script th:src="@{/js/summernote-lite.min.js}"></script> 이 라이브러리는 admin.js에서 로드됩니다. -->
    <!--<script th:src="@{/js/summernote-ko-KR.min.js}"></script> 이 라이브러리는 admin.js에서 로드됩니다. -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/tippy-bundle.umd.min.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</head>

<body>
<main class="form-signin">
    <form id="fm" name="fm" method="post">
        <div class="logo mb-4 mx-auto">
            <img th:src="@{/images/logo.svg}" alt="">
        </div>
        <div class="form-floating">
            <!--
                유효성 체크:
                1. input: is-invalid 클래스 추가
                2. 텍스트: input 하단에 'invalid-feedback' 이름으로 div 안에 텍스트 추가
            -->
            <input type="text" class="form-control" id="mngr_id" name="mngr_id" placeholder="아이디" maxlength="10" value="admin">
            <label for="mngr_id">아이디</label>
            <!-- 유효성 체크 -->
            <div class="invalid-feedback" id="idVal">아이디가 일치하지 않습니다.</div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="mngr_pswd" name="mngr_pswd" placeholder="비밀번호" onkeyup="enterkey()" value="1234">
            <label for="mngr_pswd">비밀번호</label>
            <!-- 유효성 체크 -->
            <div class="invalid-feedback" id="pwVal">패스워드가 일치하지 않습니다.</div>
        </div>
        <div class="mt-3">
            <a class="text-dark text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#passwordModal">비밀번호 찾기</a>
        </div>
        <button class="mt-4 w-100 btn btn-lg btn-primary" id="loginBtn" type="button" onclick="javascript:loginProc();">로그인</button>
    </form>
</main>

<!-- 팝업: 비밀번호 찾기 -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="passwordModalLabel">비밀번호 찾기</h1>
                <button type="button" class="btn-close" id="modalCancel" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <p>괸리자에 등록된 이메일을 입력해 주세요.</p>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="pwdMailId" name="pwdMailId" placeholder="아이디" maxlength="10">
                        <label for="pwdMailId">아이디</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="pwdMailAddr" name="pwdMailAddr" placeholder="이메일" maxlength="50">
                        <label for="pwdMailAddr">이메일</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="javascript:pwdSendMail();">확인</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function enterkey() {
        if (window.event.keyCode == 13) {
            loginProc();
        }
    }

    /**
     * 로그인 처리
     * 정상 처리이면 세션 생성 후 관리자 리스트로 이동
     * 에러 처리이면 에러메세지 출력
     */
    function loginProc() {
        var mngr_id = $("#mngr_id").val();
        var mngr_pswd = $("#mngr_pswd").val();

        if (mngr_id == null || mngr_id == "") {
            document.getElementById('idVal').innerHTML = '아이디를 입력하세요.';
            $("#mngr_id").last().addClass("is-invalid");
            $("#mngr_id").focus()
            return false;
        }

        if (mngr_pswd == null || mngr_pswd == "") {
            document.getElementById('pwVal').innerHTML = '비밀번호를 입력하세요.';
            $("#mngr_pswd").last().addClass("is-invalid");
            $("#mngr_pswd").focus()
            return false;
        }

        var data = {};
        data["mngr_id"] = mngr_id;
        data["mngr_pswd"] = mngr_pswd;

        $.ajax({
            url: window.staticPath + 'loginProc',
            type: 'POST', // HTTP 메서드
            dataType:"json",
            cache: false,
            data: data,
            success: function(data) {
                if (data.success == "success") {
                    //alert(data.message);
                    location.href = window.staticPath + "member/list/101000";
                } else if (data.success == "fail") {
                    alert(data.message);
                    location.href = window.staticPath;
                }
            },
            error: function(xhr, status, error) {
                alert("로그인에 실패하였습니다.\n아이디 및 비빌번호를 확인하세요.");
                console.error('Error:', error);
            }
        });
    }

    /**
     * 비밀번호 찾기
     */
    function pwdSendMail() {
        var pwdMailId = $("#pwdMailId").val();
        var pwdMailAddr = $("#pwdMailAddr").val();

        if (pwdMailId == null || pwdMailId == "") {
            alert("아이디를 입력하세요.")
            $("#pwdMailId").focus()
            return false;
        }

        if (pwdMailAddr == null || pwdMailAddr == "") {
            alert("임시 비밀번호를 받을 이메일 주소를 입력하세요.");
            $("#pwdMailAddr").focus()
            return false;
        }

        if (!emailCheck(pwdMailAddr)) {
            alert("유효하지 않은 이메일 주소입니다.");
            $("#pwdMailAddr").focus()
            return false;
        }

        var data = {};
        data["pwdMailId"] = pwdMailId;
        data["pwdMailAddr"] = pwdMailAddr;

        $.ajax({
            url: window.staticPath + 'findPw',
            type: 'POST', // HTTP 메서드
            dataType:"json",
            cache: false,
            data: data,
            success: function(data) {
                if (data.success == "success") {
                    alert(data.message);
                    document.getElementById('modalCancel').click();
                    $("#pwdMailId").val('');
                    $("#pwdMailAddr").val('');
                    //location.href = "/kbinnovationhub_devadm/member/list/101000";
                } else if (data.success == "fail") {
                    alert(data.message);
                    //document.getElementById('modalCancel').click();
                    //location.href = "/kbinnovationhub_devadm";
                }
            },
            error: function(xhr, status, error) {
                alert("비밀번호 찾기 실패하였습니다.\n아이디 및 이메일 주소를 확인하세요.");
                console.error('Error:', error);
            }
        });
    }

    //이메일 정합성 체크
    function emailCheck(email_address){
        var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        return email_regex.test(email_address);
    }
</script>
</body>
</html>