<!--
 파일명     : popup.html
 관련자바   : PopupController
 화면명     : 팝업 관리
 설명       : 팝업 조회, 삭제 처리
 최초개발일 : 2024.10.24
 최초개발자 : 양윤지
 ==========================================================
   수정일            수정자           설명
 ==========================================================
-->
<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/config :: configFragment"></head>
<body>
<div class="wrap">
    <div th:replace="fragment/header :: headerFragment"></div>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="paper">
                        <h2 class="h4">팝업 관리 <span id="helpPopup" class="help"><i class="mb-1" data-feather="help-circle"></i></span></h2>
                        <div class="mt-4">
                            <div class="col">
                                <div class="top-search d-flex mt-4">
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                        <div class="button-wrap d-flex justify-content-end">
                                            <a class="btn btn-primary" th:href="@{/popup/insert/{menuId}(menuId=${menuId})}">
                                                <i data-feather="edit"></i> 신규 등록
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <input type="hidden" name="menu_id" th:value="${menuId}"/>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th style="width:5%">NO</th>
                                        <th style="width:25%">제목</th>
                                        <th style="width:20%">시작일시</th>
                                        <th style="width:20%">종료일시</th>
                                        <th style="width:20%">관리</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:if="${selectList == null or selectList.isEmpty()}">
                                        <td class="py-5" colspan="10">
                                            검색 결과가 없습니다.
                                        </td>
                                    </tr>
                                    <tr th:unless="${selectList == null or selectList.isEmpty()}" th:each="list : ${selectList}">
                                        <td th:text="${list.rownumber}"></td>
                                        <td th:text="${list.mngr_ttl}"></td>
                                        <td th:text="${list.bgng_ymd}"></td>
                                        <td th:text="${list.end_ymd}"></td>
                                        <td>
                                            <button th:onclick="|updatePage('${list.popup_sn}', '${menuId}')|" class="btn btn-outline-dark btn-sm">수정</button>
                                            <button th:onclick="|deleteAlert('${list.popup_sn}')|" type="button" class="btn btn-outline-danger btn-sm">삭제</button>
                                            <!-- <button th:onclick="updatePage([[${list.popup_sn}]], [[${menuId}]])" class="btn btn-outline-dark btn-sm">수정</button>
                                            <button th:onclick="deleteAlert([[${list.popup_sn}]])" type="button" class="btn btn-outline-danger btn-sm">삭제</button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 페이지네이션 -->
                        <nav class="bottom-pagination" aria-label="navigation">
                            <ul class="pagination">
                                <!--
                                        #클래스 가이드
                                        1. 이전/다음 버튼 비활성화: li 태그에 "disabled" 클래스 추가
                                        2. 활성화 상태: li태그에 "active" 클래스 및 "aria-current='page'" 추가
                                     -->
                                <!-- 맨 앞페이지 이동 버튼 -->
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|/popup/list/${menuId}?page=1|}" aria-label="Previous">
                                        <span data-feather="chevrons-left" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <!-- 이전으로 이동하는 버튼 -->
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|/popup/list/${menuId}?page=${currentPage - 1 < 1 ? 1 : currentPage - 1}|}" aria-label="Previous">
                                        <span data-feather="chevron-left" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <th:block th:if="${repeat != null}" th:each="num : ${#numbers.sequence(1, repeat)}">
                                    <li class="page-item" aria-current="page" th:classappend="${currentPage != null ? num == currentPage : num == 1} ? 'active' : ''">
                                        <a th:id="${'page' + num}" class="page-link" th:href="@{|/popup/list/${menuId}?page=${num}|}" th:text="${num}"></a>
                                    </li>
                                </th:block>
                                <!-- 다음으로 이동하는 버튼 -->
                                <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|/popup/list/${menuId}?page=${currentPage + 1 > repeat ? repeat : currentPage + 1}|}" aria-label="Next">
                                        <span data-feather="chevron-right" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <!-- 맨 끝페이지 이동 버튼 -->
                                <li class="page-item" th:classappend="${currentPage == repeat} ? 'disabled' : ''">
                                    <a class="page-link" th:href="@{|/popup/list/${menuId}?page=${repeat}|}" aria-label="Next">
                                        <span data-feather="chevrons-right" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script th:inline="javascript">
    // 페이지 로드 시 실행
    window.onload = function () {
        // 페이지 로드 시 메시지 확인 및 알림 표시
        // 수정 및 등록 시 띄울 알림창
        const msg = /*[[${msg}]]*/ '';
        if (msg) alert(msg);
    };

    // 수정 페이지 이동
    function updatePage(popup_sn, menuId) {
        // 빈 form 전달
        let pageMoveForm = document.createElement('form');
        // 인수 값 전달
        let obj = document.createElement('input');
        obj.setAttribute('type', 'hidden');
        obj.setAttribute('name', 'popup_sn');
        obj.setAttribute('value', popup_sn);
        pageMoveForm.appendChild(obj);

        let obj2 = document.createElement('input');
        obj2.setAttribute('type', 'hidden');
        obj2.setAttribute('name', 'menuId');
        obj2.setAttribute('value', menuId);
        pageMoveForm.appendChild(obj2);

        pageMoveForm.setAttribute('method', 'post');
        pageMoveForm.setAttribute('action', window.staticPath + 'popup/detail');
        document.body.appendChild(pageMoveForm);
        pageMoveForm.submit();
    }

    // 삭제 성공/실패 알림창 띄우기
    function deleteAlert(popup_sn) {
        let result = confirm("정말 삭제 하시겠습니까?");
        if(result) {
            $.ajax({
                url: /*[[@{/popup/delete}]]*/, // 요청 URL
                type: 'POST', // HTTP 메서드
                data: { popupId: popup_sn }, // 보내는 데이터
                success: function(response) {
                    alert("삭제에 성공하였습니다.");
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    alert("삭제를 실패하였습니다.");
                    console.error('Error:', error);
                }
            });
        }
    }
</script>
</body>
</html>