<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KB Innovation HUB | 미리보기</title>

    <!-- 공통 스타일 시트 -->
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/base.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/board.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/common.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/main.css">
    <link rel="stylesheet" href="/kbinnovationhub_devadm/css/sub.css">
    
    <!-- 임시 스크립트: 헤더/푸터 컴포넌트 (작업용 임시 파일이므로 개발단계부터는 스크립트 파일 안에 HTML 코드 사용) -->
    <script src="/kbinnovationhub_devadm/component/header_preview.js"></script>
    <script src="/kbinnovationhub_devadm/component/footer_preview.js"></script>

    <!-- 공통 스크립트 -->
    <script src="/kbinnovationhub_devadm/js/scrollreveal.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/gsap.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/ScrollToPlugin.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/ScrollTrigger.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/lenis.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/split-type.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/echarts.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/echarts-wordcloud.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/flatpickr.js"></script>
    <script src="/kbinnovationhub_devadm/js/ko.js"></script>
    <script src="/kbinnovationhub_devadm/js/swiper-bundle.min.js"></script>
    <script src="/kbinnovationhub_devadm/js/countUp.umd.js"></script>
    <script src="/kbinnovationhub_devadm/js/common.js"></script>
</head>
<body>
    <!-- 팝업 -->
    <div id="popup" class="popup-container" th:style="${'top:' + popup.popup_top_pstn +  'px;left:' + popup.popup_left_pstn + 'px; z-index:999;'}">
        <div class="popup-body">
            <!--<img src="/images/logo.svg" alt="">-->
            <span th:utext="${popup.popup_cn}"></span>
        </div>
        <div class="popup-foot">
            <div class="check check-light">
                <input id="popupClose" type="checkbox">
                <i></i>
                <label for="popupClose">오늘 하루 열지 않기</label>
            </div>
            <a class="close" href="javascript:" onclick="document.getElementById('popup').remove()"><span class="blind">팝업 닫기</span></a>
        </div>
    </div>

    <!--  기존 팝업 -->
    <div th:id="${'popup' + listStat.index}" class="popup-container" th:each="list,listStat : ${selectList}" th:style="${'top:' + list.popup_top_pstn +  'px;left:' + list.popup_left_pstn + 'px;'}">
        <div class="popup-body">
            <!--<img src="/images/logo.svg" alt="">-->
            <span th:utext="${list.popup_cn}"></span>
        </div>
        <div class="popup-foot">
            <div class="check check-light">
                <input th:id="${'popupClose' + listStat.index}" type="checkbox">
                <i></i>
                <label th:for="${'popupClose' + listStat.index}">오늘 하루 열지 않기</label>
            </div>
            <a class="close" href="javascript:" onclick="this.parentNode.parentNode.remove();"><span class="blind">팝업 닫기</span></a>
        </div>
    </div>

    <!-- 헤더 -->
    <app-header></app-header>

    <!-- 본문 -->
    <main class="main">
        <div class="home">
            <div class="section-visual">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="background"><img class="item" src="/kbinnovationhub_devadm/images/main/visual-slide-image-1.png" alt=""></div>
                            <div class="context">
                                <p class="text" data-split>스타트업 육성을 통해 <br>대한민국 디지털 금융 혁신을 이끌어갑니다.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="background background-2"><img class="item" src="/kbinnovationhub_devadm/images/main/visual-slide-image-2.jpg" alt=""></div>
                            <div class="context">
                                <p class="text" data-split>글로벌 육성 프로그램을 통해 <br>스타트업의 성공적인 글로벌 진출을 지원합니다.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="background"><img class="item" src="/kbinnovationhub_devadm/images/main/visual-slide-image-3.jpg" alt=""></div>
                            <div class="context">
                                <p class="text" data-split>KB Innovation HUB는 앞으로도 스타트업과 함께 <br>더 나은 미래를 만들어 나가겠습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <img class="item" src="/images/main/visual-slide-title.svg" alt="">
                </div>
            </div>
            <div class="section-introduce">
                <div class="sticky">
                    <img class="background" src="/kbinnovationhub_devadm/images/main/indroduce-background.jpg" alt="">
                    <div data-animate="fade-in" class="container container-1">
                        <h4 class="section-title"><span class="block">스타트업과 함께 만드는<br><span class="highlight">금융 혁신 핀테크 랩</span></span></h4>
                        <div class="context">
                            <p class="text">KB Innovation HUB센터는 <br>2015년 3월 25일 <span class="color-primary">금융권 최초로 설립된 <br>핀테크 랩</span>으로 스타트업의 실질적인 성장을 <br>지원하고 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- 푸터 -->
    <app-footer></app-footer>
</body>
</html>