<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.CooperationDAO">
    <!-- 협력 기관 리스트 조회 -->
    <select id="selectList" resultType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 협력 기관 리스트 조회 */
        SELECT ROWNUM AS ROWNUMBER
             , COOPE_PAGE.*
         FROM (
               SELECT COOPE.COOPE_SN      AS COOPE_SN
                    , COOPE.BZENTY_NM     AS BZENTY_NM
                    , COOPE.EXPSR_YN      AS EXPSR_YN
                    , COOPE.SORT_NO       AS SORT_NO
                    , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
                    , FILES.FILE_NM       AS COOPE_FILE_NAME
                    , REPLACE(FILES.FILE_PATH, '\', '/')     AS COOPE_PATH
                 FROM KB_COOPE_INFO COOPE
                    , KB_FILE_INFO FILES
                WHERE COOPE.ATCH_FILE_ID = FILES.FILE_SN(+)
                ORDER BY COOPE_SN ASC
              ) COOPE_PAGE
          ORDER BY ROWNUMBER DESC
    </select>
    <!-- 협력 기관 파일 저장 -->
    <insert id="insertFile" parameterType="com.kb.inno.admin.DTO.FileDTO">
        /* 협력 기관 파일 저장 */
        INSERT INTO KB_FILE_INFO
        (
         FILE_SN
       , FILE_NM
       , ORGNL_FILE_NM
       , FILE_SZ
       , FILE_EXTN
       , FILE_PATH
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         FILE_SN_SEQ.NEXTVAL
       , #{file_nm}
       , #{orgnl_file_nm}
       , #{file_sz}
       , #{file_extn}
       , #{file_path}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
        <selectKey keyProperty="file_sn" resultType="int" order="AFTER">
            /* 저장한 파일 중 제일 큰 것 조회(키 조회) */
            SELECT MAX(FILE_SN) AS FILE_SN
              FROM KB_FILE_INFO
        </selectKey>
    </insert>
    <!-- 협력 기관 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 협력 기관 등록 */
        INSERT INTO KB_COOPE_INFO
        (
         COOPE_SN
       , BZENTY_NM
       , EXPSR_YN
       , SORT_NO
       , ATCH_FILE_ID
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         COOPE_SN_SEQ.NEXTVAL
       , #{bzenty_nm}
       , #{expsr_yn}
       , #{sort_no}
       , #{atch_file_id}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- 협력 기관 상세 조회 -->
    <select id="select" resultType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 협력 기관 상세 조회 */
        SELECT COOPE.COOPE_SN      AS COOPE_SN
             , COOPE.BZENTY_NM     AS BZENTY_NM
             , COOPE.EXPSR_YN      AS EXPSR_YN
             , COOPE.SORT_NO       AS SORT_NO
             , FILES.FILE_SN       AS ATCH_FILE_ID
             , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
             , FILES.FILE_NM       AS COOPE_FILE_NAME
             , REPLACE(FILES.FILE_PATH, '\', '/')     AS COOPE_PATH
          FROM KB_COOPE_INFO COOPE
             , KB_FILE_INFO FILES
         WHERE COOPE.ATCH_FILE_ID = FILES.FILE_SN(+)
           AND COOPE.COOPE_SN     = #{coope_sn}
    </select>
    <!-- 협력 기관 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 협력 기관 수정 */
        UPDATE KB_COOPE_INFO
           SET BZENTY_NM       = #{bzenty_nm}
             , EXPSR_YN        = #{expsr_yn}
             , SORT_NO         = #{sort_no}
             , ATCH_FILE_ID    = #{atch_file_id}
             , LAST_MDFR       = #{last_mdfr}
             , LAST_MDFCN_DT   = SYSDATE
         WHERE COOPE_SN        = #{coope_sn}
    </update>
    <!-- 제휴 사례 정렬 순서 업데이트 -->
    <update id="sortUpdate" parameterType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 정렬 순서 업데이트 */
        UPDATE KB_COOPE_INFO
           SET SORT_NO = SORT_NO + 1
         WHERE SORT_NO <![CDATA[>]]>= #{sort_no}
           AND COOPE_SN  NOT IN (#{coope_sn})
    </update>
    <!-- 협력 기관 삭제 -->
    <delete id="delete" parameterType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 협력 기관 삭제 */
        DELETE
          FROM KB_COOPE_INFO
         WHERE COOPE_SN = #{coope_sn}
    </delete>
    <!-- 협력 기관 파일 삭제 -->
    <delete id="deleteFile" parameterType="int">
        /* 협력 기관 관리 파일 삭제 */
        DELETE
          FROM KB_FILE_INFO
         WHERE FILE_SN = #{file_sn}
    </delete>
    <!-- 협력 기관 리스트 조회 (미리보기용) -->
    <select id="selectListAll" resultType="com.kb.inno.admin.DTO.CooperationDTO">
        /* 협력 기관 리스트 조회 (미리보기용) */
        SELECT COOPE.COOPE_SN      AS COOPE_SN
             , COOPE.SORT_NO       AS SORT_NO
             , FILES.FILE_NM       AS COOPE_FILE_NAME
             , REPLACE(FILES.FILE_PATH, '\', '/')     AS COOPE_PATH
          FROM KB_COOPE_INFO COOPE
             , KB_FILE_INFO FILES
         WHERE COOPE.ATCH_FILE_ID = FILES.FILE_SN(+)
           AND COOPE.EXPSR_YN = 'Y'
         <if test="coope_sn != 0">
           AND NOT COOPE_SN IN (#{coope_sn})
         </if>
         ORDER BY SORT_NO DESC
    </select>
</mapper>