<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.FaqCategoryDAO">
    <!-- FAQ 카테고리 리스트 갯수 조회(전체) -->
    <select id="selectPageCount" resultType="int">
        /* FAQ 카테고리 리스트 갯수 조회(전체) */
        SELECT COUNT(*)
          FROM KB_CTGRY_INFO
    </select>
    <!-- FAQ 카테고리 리스트 조회 -->
    <select id="selectList" parameterType="com.kb.inno.admin.DTO.SearchDTO" resultType="com.kb.inno.admin.DTO.FaqCategoryDTO">
        /* FAQ 카테고리 리스트 조회 */
        SELECT CTGRY_PAGE.CTGRY_SN
             , CTGRY_PAGE.CTGRY_NM
             , CTGRY_PAGE.FAQ_CNT
          FROM (
                /* 순번 매기기 */
                SELECT ROWNUM ROWNUMBER
                     , CTGRY.*
                  FROM (
                        /* 리스트 조회 */
                        SELECT CTG.CTGRY_SN
                             , CTG.CTGRY_NM
                             , FAQ.FAQ_CNT
                          FROM KB_CTGRY_INFO CTG
                             , (
                                SELECT COUNT(FAQ_SN) AS FAQ_CNT
                                     , FAQ_CTGRY
                                  FROM KB_FAQ_INFO
                                 GROUP BY FAQ_CTGRY
                                ) FAQ
                         WHERE 1=1
                           AND CTG.CTGRY_SN = FAQ.FAQ_CTGRY(+)
                         ORDER BY CTGRY_SN DESC
                       ) CTGRY
                ) CTGRY_PAGE
         WHERE ROWNUMBER BETWEEN #{start} AND #{end}
    </select>
    <!-- FAQ 카테고리 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.FaqCategoryDTO">
        /* FAQ 카테고리 등록 */
        INSERT INTO KB_CTGRY_INFO
        (
         CTGRY_SN
       , CTGRY_NM
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         FAQ_CTGRY_SN_SEQ.NEXTVAL
       , #{ctgry_nm}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- FAQ 카테고리 상세 조회 -->
    <select id="select" parameterType="int" resultType="com.kb.inno.admin.DTO.FaqCategoryDTO">
        /* FAQ 카테고리 상세 조회 */
        SELECT CTGRY_SN
             , CTGRY_NM
             , FRST_RGTR
             , FRST_REG_DT
             , LAST_MDFR
             , LAST_MDFCN_DT
          FROM KB_CTGRY_INFO
         WHERE CTGRY_SN = #{ctgry_sn}
    </select>
    <!-- FAQ 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.FaqCategoryDTO">
        /* FAQ 수정 */
        UPDATE KB_CTGRY_INFO
           SET CTGRY_NM      = #{ctgry_nm}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE CTGRY_SN      = #{ctgry_sn}
    </update>
    <!-- FAQ 삭제 -->
    <delete id="delete" parameterType="int">
        /* FAQ 삭제 */
        DELETE
          FROM KB_CTGRY_INFO
         WHERE CTGRY_SN = #{ctgry_sn}
    </delete>
    <!-- FAQ 삭제 -->
    <delete id="deleteChild" parameterType="int">
        /* FAQ 삭제 */
        DELETE
          FROM KB_FAQ_INFO
         WHERE FAQ_CTGRY = #{ctgry_sn}
    </delete>
    <!-- FAQ 카테고리 상세 조회 -->
    <select id="selectListAll" parameterType="int" resultType="com.kb.inno.admin.DTO.FaqCategoryDTO">
        /* FAQ 카테고리 상세 조회 */
        SELECT CTGRY_SN
             , CTGRY_NM
          FROM KB_CTGRY_INFO
        WHERE 1=1
        <if test="category_sn != 0">
          AND NOT CTGRY_SN IN (#{category_sn})
        </if>
    </select>
</mapper>