<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.KbStartersSurvey">
    <select id="getSurveyList" parameterType="com.kb.inno.admin.DTO.SearchDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        SELECT * FROM KB_STARTERS_SURVEY WHERE 1=1
        <if test="type != null and type != ''">
            <choose>
                <when test="type == 'all'">
                    AND (SURVEY_TITLE like '%' || #{keyword} || '%')
                </when>
                <when test="type == 'title'">
                    AND (SURVEY_TITLE like '%' || #{keyword} || '%')
                </when>
            </choose>
        </if>
        <if test="delete_yn != null and delete_yn != ''">
            <choose>
                <when test='delete_yn == "N"'>
                    AND DELETE_YN in ('N', 'C')
                </when>
                <otherwise>
                    AND DELETE_YN = #{delete_yn}
                </otherwise>
            </choose>
        </if>
        ORDER BY FRST_REG_DT DESC
        OFFSET #{start} ROWS FETCH NEXT 10 ROWS ONLY
    </select>

    <select id="getSurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        SELECT *
        FROM KB_STARTERS_SURVEY
        WHERE SURVEY_NO = #{survey_no}
    </select>

    <select id="countSurvey" parameterType="com.kb.inno.admin.DTO.SearchDTO"
            resultType="int">
        SELECT COUNT(*)
        FROM KB_STARTERS_SURVEY
        WHERE 1=1
        <if test="type != null and type != ''">
            <choose>
                <when test="type == 'all'">
                    AND (SURVEY_TITLE like '%' || #{keyword} || '%')
                </when>
                <when test="type == 'title'">
                    AND (SURVEY_TITLE like '%' || #{keyword} || '%')
                </when>
            </choose>
        </if>
        <if test="delete_yn != null and delete_yn != ''">
            <choose>
                <when test='delete_yn == "N"'>
                    AND DELETE_YN in ('N', 'C')
                </when>
                <otherwise>
                    AND DELETE_YN = #{delete_yn}
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="getMaxSurveyNo" resultType="int">
        SELECT NVL(MAX(SURVEY_NO), 0) + 1
        FROM KB_STARTERS_SURVEY
    </select>

    <insert id="insertSurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        INSERT INTO KB_STARTERS_SURVEY
        (SURVEY_NO, SURVEY_TITLE, BANNER_FILE_PATH, BANNER_FILENAME, FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES (#{survey_no}, #{survey_title}, #{banner_file_path}, #{banner_filename}, #{frst_rgtr}, SYSDATE,
                #{last_mdfr}, SYSDATE)
    </insert>

    <update id="updateSurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        UPDATE KB_STARTERS_SURVEY
        SET SURVEY_TITLE = #{survey_title},
        <if test="banner_file_path != null and banner_file_path != ''">
            BANNER_FILE_PATH = #{banner_file_path},
        </if>
        <if test="banner_filename != null and banner_filename != ''">
            BANNER_FILENAME = #{banner_filename},
        </if>
        <if test="delete_yn != null and delete_yn != ''">
            DELETE_YN = #{delete_yn},
        </if>
        LAST_MDFR = #{last_mdfr},
        LAST_MDFCN_DT = SYSDATE
        WHERE SURVEY_NO = #{survey_no}
    </update>

    <delete id="deleteSurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        DELETE
        FROM KB_STARTERS_SURVEY
        WHERE SURVEY_NO = #{survey_no}
    </delete>

    <select id="getSurveyInfo" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        SELECT *
        FROM KB_STARTERS_SURVEY_INFO
        WHERE SURVEY_NO = #{survey_no}
    </select>

    <select id="getMaxSurveyInfoNo" resultType="int">
        SELECT NVL(MAX(SURVEY_INFO_NO), 0) + 1
        FROM KB_STARTERS_SURVEY_INFO
    </select>


    <insert id="insertSurveyInfo" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        INSERT INTO KB_STARTERS_SURVEY_INFO
        (SURVEY_INFO_NO, SURVEY_NO, SURVEY_CATEGORY, SURVEY_DATE_RANGE, SURVEY_TARGET_HEADING, SURVEY_TARGET_SUB,
         SURVEY_FIELD_HEADING, SURVEY_FIELD_SUB, SURVEY_SELECT_PROCESS, SURVEY_BENEFIT1, SURVEY_BENEFIT2,
         SURVEY_BENEFIT3, SURVEY_BENEFIT4, FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES (#{survey_info_no}, #{survey_no}, #{survey_category, jdbcType=VARCHAR},
                #{survey_date_range, jdbcType=VARCHAR}, #{survey_target_heading, jdbcType=VARCHAR},
                #{survey_target_sub, jdbcType=VARCHAR}, #{survey_field_heading, jdbcType=VARCHAR},
                #{survey_field_sub, jdbcType=VARCHAR}, #{survey_select_process, jdbcType=VARCHAR},
                #{survey_benefit1, jdbcType=VARCHAR}, #{survey_benefit2, jdbcType=VARCHAR},
                #{survey_benefit3, jdbcType=VARCHAR}, #{survey_benefit4, jdbcType=VARCHAR}, #{frst_rgtr}, SYSDATE,
                #{last_mdfr}, SYSDATE)
    </insert>

    <update id="updateSurveyInfo" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        UPDATE KB_STARTERS_SURVEY_INFO
        SET SURVEY_CATEGORY       = #{survey_category, jdbcType=VARCHAR},
            SURVEY_DATE_RANGE     = #{survey_date_range, jdbcType=VARCHAR},
            SURVEY_TARGET_HEADING = #{survey_target_heading, jdbcType=VARCHAR},
            SURVEY_TARGET_SUB     = #{survey_target_sub, jdbcType=VARCHAR},
            SURVEY_FIELD_HEADING  = #{survey_field_heading, jdbcType=VARCHAR},
            SURVEY_FIELD_SUB      = #{survey_field_sub, jdbcType=VARCHAR},
            SURVEY_SELECT_PROCESS = #{survey_select_process, jdbcType=VARCHAR},
            SURVEY_BENEFIT1       = #{survey_benefit1, jdbcType=VARCHAR},
            SURVEY_BENEFIT2       = #{survey_benefit2, jdbcType=VARCHAR},
            SURVEY_BENEFIT3       = #{survey_benefit3, jdbcType=VARCHAR},
            SURVEY_BENEFIT4       = #{survey_benefit4, jdbcType=VARCHAR},
            LAST_MDFR             = #{last_mdfr},
            LAST_MDFCN_DT         = SYSDATE
        WHERE SURVEY_NO = #{survey_no}
    </update>

    <delete id="deleteSurveyInfo" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        DELETE
        FROM KB_STARTERS_SURVEY_INFO
        WHERE SURVEY_NO = #{survey_no}
    </delete>


    <select id="getQuestion" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersQuestionDTO">
        SELECT question.*,
               question_type.question_type_nm
        FROM KB_STARTERS_QUESTION question
                 LEFT JOIN
             KB_STARTERS_QUESTION_TYPE question_type
             ON
                 question.question_type_no = question_type.question_type_no
        WHERE question.SURVEY_NO = #{survey_no}
        ORDER BY question.question_order ASC;

    </select>

    <select id="getMaxQuestionNo" resultType="int">
        SELECT NVL(MAX(QUESTION_NO), 0) + 1
        FROM KB_STARTERS_QUESTION
    </select>

    <insert id="insertQuestion" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionDTO">
        INSERT INTO KB_STARTERS_QUESTION
        (QUESTION_NO, SURVEY_NO, QUESTION_TYPE_NO,
        <if test="question_title != null and question_title != ''">
            QUESTION_TITLE,
        </if>
        <if test="question_description != null and question_description != ''">
            QUESTION_DESCRIPTION,
        </if>
        QUESTION_ORDER, REQUIRED_YN, FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES
        (#{question_no}, #{survey_no}, #{question_type_no},
        <if test="question_title != null and question_title != ''">
            #{question_title},
        </if>
        <if test="question_description != null and question_description != ''">
            #{question_description},
        </if>
        #{question_order}, #{required_yn}, #{frst_rgtr}, SYSDATE, #{last_mdfr}, SYSDATE)
    </insert>

    <delete id="deleteQuestions" parameterType="list">
        DELETE FROM KB_STARTERS_QUESTION WHERE QUESTION_NO IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateQuestion" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionDTO">
        UPDATE KB_STARTERS_QUESTION
        SET QUESTION_TYPE_NO = #{question_type_no},
        <if test="question_title != null and question_title != ''">
            QUESTION_TITLE = #{question_title},
        </if>
        <if test="question_description != null and question_description != ''">
            QUESTION_DESCRIPTION = #{question_description},
        </if>
        QUESTION_ORDER = #{question_order},
        REQUIRED_YN = #{required_yn},
        LAST_MDFR = #{last_mdfr},
        LAST_MDFCN_DT = SYSDATE
        WHERE QUESTION_NO = #{question_no}
    </update>

    <select id="getOneQuestion" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersQuestionDTO">
        SELECT *
        FROM KB_STARTERS_QUESTION
        WHERE QUESTION_NO = #{question_no}
    </select>

    <select id="getQuestionChoice" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersQuestionChoiceDTO">
        SELECT *
        FROM KB_STARTERS_QUESTION_CHOICE
        WHERE QUESTION_NO = #{question_no}
    </select>

    <select id="getOneQuestionChoice" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionChoiceDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersQuestionChoiceDTO">
        SELECT *
        FROM KB_STARTERS_QUESTION_CHOICE
        WHERE QUESTION_CHOICE_NO = #{question_choice_no}
    </select>

    <select id="getMaxQuestionChoiceNo" resultType="int">
        SELECT NVL(MAX(QUESTION_CHOICE_NO), 0) + 1
        FROM KB_STARTERS_QUESTION_CHOICE
    </select>

    <insert id="insertQuestionChoice" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionChoiceDTO">
        INSERT INTO KB_STARTERS_QUESTION_CHOICE
        (QUESTION_CHOICE_NO, QUESTION_NO, CHOICE_CONTENT, MOVE_QUESTION_NO, FRST_RGTR, FRST_REG_DT, LAST_MDFR,
         LAST_MDFCN_DT)
        VALUES (#{question_choice_no}, #{question_no}, #{choice_content}, #{move_question_no}, #{frst_rgtr}, SYSDATE,
                #{last_mdfr}, SYSDATE)
    </insert>

    <update id="updateQuestionChoice" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionChoiceDTO">
        UPDATE KB_STARTERS_QUESTION_CHOICE
        SET CHOICE_CONTENT   = #{choice_content},
            MOVE_QUESTION_NO = #{move_question_no},
            LAST_MDFR        = #{last_mdfr},
            LAST_MDFCN_DT    = SYSDATE
        WHERE QUESTION_CHOICE_NO = #{question_choice_no}
    </update>

    <delete id="deleteQuestionChoices" parameterType="list">
        DELETE FROM KB_STARTERS_QUESTION_CHOICE WHERE QUESTION_CHOICE_NO IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getApplyList" resultType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        SELECT apply.*
        FROM KB_STARTERS_APPLY apply, KB_STARTERS_SURVEY survey
        WHERE apply.SURVEY_NO = survey.SURVEY_NO
        AND apply.SURVEY_NO = #{survey_no}
        <if test="search.type != null and search.type != ''">
            <choose>
                <when test="search.type == 'all'">
                    AND (survey.SURVEY_TITLE like '%' || #{search.keyword} || '%')
                </when>
                <when test="search.type == 'title'">
                    AND (survey.SURVEY_TITLE like '%' || #{search.keyword} || '%')
                </when>
            </choose>
        </if>
        ORDER BY apply.FRST_REG_DT DESC
        <if test="search != null">
            OFFSET #{search.start} ROWS FETCH NEXT 10 ROWS ONLY
        </if>
    </select>

    <select id="getApplyAnswers" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersApplyAnswerDTO">
        SELECT *
        FROM KB_STARTERS_APPLY_ANSWER
        WHERE APPLY_NO = #{apply_no}
    </select>

    <delete id="deleteSurveyInfoBySurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        DELETE
        FROM KB_STARTERS_SURVEY_INFO
        WHERE SURVEY_NO = #{survey_no}
    </delete>

    <delete id="deleteQuestionBySurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        DELETE
        FROM KB_STARTERS_QUESTION
        WHERE SURVEY_NO = #{survey_no}
    </delete>

    <delete id="deleteQuestionChoiceByQuestion" parameterType="com.kb.inno.admin.DTO.KbStartersQuestionDTO">
        DELETE
        FROM KB_STARTERS_QUESTION_CHOICE
        WHERE QUESTION_NO = #{question_no}
    </delete>

    <delete id="deleteQuestionChoiceBySurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        DELETE
        FROM KB_STARTERS_QUESTION_CHOICE
        WHERE QUESTION_NO IN
              (SELECT QUESTION_NO
               FROM KB_STARTERS_QUESTION
               WHERE SURVEY_NO = #{survey_no})
    </delete>

    <select id="getApplyBySurvey" resultType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        SELECT *
        FROM KB_STARTERS_APPLY
        WHERE SURVEY_NO = #{survey.survey_no}
        <if test="search.type != null and search.type != ''">
            AND APPLY_STATUS = #{search.type}
        </if>
    </select>

    <select id="getOneApplyAnswer" parameterType="int" resultType="com.kb.inno.admin.DTO.KbStartersApplyAnswerDTO">
        SELECT *
        FROM KB_STARTERS_APPLY_ANSWER
        WHERE APPLY_ANSWER_NO = #{apply_answer_no}
    </select>

    <select id="getApplyAnswerByApply" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO"
            resultType="com.kb.inno.admin.DTO.KbStartersApplyAnswerDTO">
        SELECT *
        FROM KB_STARTERS_APPLY_ANSWER
        WHERE APPLY_NO = #{apply_no}
    </select>

    <insert id="insertApply" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        INSERT INTO KB_STARTERS_APPLY
        (APPLY_NO, SURVEY_NO, APPLY_STATUS, EMAIL, COMPANY_NAME, FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES (#{apply_no}, #{survey_no}, #{apply_status}, #{email}, #{company_name}, #{frst_rgtr}, SYSDATE,
                #{last_mdfr}, SYSDATE)
    </insert>

    <insert id="moveApply" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        INSERT INTO KB_STARTERS_APPLY_DELETE
        (APPLY_NO, SURVEY_NO, APPLY_STATUS, EMAIL, COMPANY_NAME, FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES (#{apply_no}, #{survey_no}, #{apply_status}, #{email}, #{company_name}, #{frst_rgtr}, SYSDATE,
                #{last_mdfr}, SYSDATE)
    </insert>

    <insert id="insertApplyAnswer" parameterType="com.kb.inno.admin.DTO.KbStartersApplyAnswerDTO">
        INSERT INTO KB_STARTERS_APPLY_ANSWER
        (APPLY_ANSWER_NO, APPLY_NO, QUESTION_NO,
        <if test="question_choice_no != null">
            QUESTION_CHOICE_NO,
        </if>
        <if test="answer_content != null">
            ANSWER_CONTENT,
        </if>
        <if test="answer_file_path != null">
            ANSWER_FILE_PATH,
        </if>
        <if test="answer_filename != null">
            ANSWER_ORIGINAL_FILENAME,
        </if>
        <if test="answer_filename != null">
            ANSWER_FILENAME,
        </if>
        FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES
        (#{apply_answer_no}, #{apply_no}, #{question_no},
        <if test="question_choice_no != null">
            #{question_choice_no},
        </if>
        <if test="answer_content != null">
            #{answer_content},
        </if>
        <if test="answer_file_path != null">
            #{answer_file_path},
        </if>
        <if test="answer_original_filename != null">
            #{answer_original_filename},
        </if>
        <if test="answer_filename != null">
            #{answer_filename},
        </if>
        #{frst_rgtr}, SYSDATE, #{last_mdfr}, SYSDATE)
    </insert>

    <insert id="moveApplyAnswer" parameterType="com.kb.inno.admin.DTO.KbStartersApplyAnswerDTO">
        INSERT INTO KB_STARTERS_APPLY_ANSWER_DELETE
        (APPLY_ANSWER_NO, APPLY_NO, QUESTION_NO,
        <if test="question_choice_no != null">
            QUESTION_CHOICE_NO,
        </if>
        <if test="answer_content != null">
            ANSWER_CONTENT,
        </if>
        <if test="answer_file_path != null">
            ANSWER_FILE_PATH,
        </if>
        <if test="answer_filename != null">
            ANSWER_ORIGINAL_FILENAME,
        </if>
        <if test="answer_filename != null">
            ANSWER_FILENAME,
        </if>
        FRST_RGTR, FRST_REG_DT, LAST_MDFR, LAST_MDFCN_DT)
        VALUES
        (#{apply_answer_no}, #{apply_no}, #{question_no},
        <if test="question_choice_no != null">
            #{question_choice_no},
        </if>
        <if test="answer_content != null">
            #{answer_content},
        </if>
        <if test="answer_file_path != null">
            #{answer_file_path},
        </if>
        <if test="answer_original_filename != null">
            #{answer_original_filename},
        </if>
        <if test="answer_filename != null">
            #{answer_filename},
        </if>
        #{frst_rgtr}, SYSDATE, #{last_mdfr}, SYSDATE)
    </insert>

    <delete id="deleteApplyBySurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        DELETE
        FROM KB_STARTERS_APPLY
        WHERE SURVEY_NO = #{survey_no}
    </delete>

    <delete id="deleteApply" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        DELETE
        FROM KB_STARTERS_APPLY
        WHERE APPLY_NO = #{apply_no}
    </delete>

    <delete id="deleteApplyAnswerByApply" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        DELETE
        FROM KB_STARTERS_APPLY_ANSWER
        WHERE APPLY_NO = #{apply_no}
    </delete>

    <update id="updateApplyStatus" parameterType="com.kb.inno.admin.DTO.KbStartersApplyDTO">
        UPDATE KB_STARTERS_APPLY
        SET APPLY_STATUS = #{apply_status}
        WHERE APPLY_NO = #{apply_no}
    </update>

    <update id="updatePrevChoiceSurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        UPDATE KB_STARTERS_SURVEY
        SET DELETE_YN = 'N'
        WHERE DELETE_YN = 'C'
    </update>

    <update id="updateChoiceSurvey" parameterType="com.kb.inno.admin.DTO.KbStartersSurveyDTO">
        UPDATE KB_STARTERS_SURVEY
        SET DELETE_YN = #{delete_yn}
        WHERE SURVEY_NO = #{survey_no}
    </update>
</mapper>