<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.NoticeDAO">
    <!-- 공지사항 리스트 갯수 조회(전체) -->
    <select id="selectPageCount" parameterType="String" resultType="int">
        /* 공지사항 리스트 갯수 조회(전체) */
        SELECT COUNT(*)
          FROM KB_NTC_INFO
         WHERE 1=1
        <if test='keyword != null and keyword != ""'>
           <choose>
               <when test="type == 'all'">
                   AND NTC_TTL LIKE '%'|| #{keyword} ||'%'
                    OR NTC_CN   LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'title'">
                   AND NTC_TTL LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'content'">
                   AND NTC_CN   LIKE '%'|| #{keyword} ||'%'
               </when>
           </choose>
        </if>
    </select>
    <!-- 공지사항 리스트 조회 -->
    <select id="selectList" parameterType="com.kb.inno.admin.DTO.SearchDTO" resultType="com.kb.inno.admin.DTO.NoticeDTO">
        /* 공지사항 리스트 조회 */
        SELECT NOTICE_PAGE.ROWNUMBER
             , NOTICE_PAGE.NTC_SN
             , NOTICE_PAGE.NTC_TTL
             , NOTICE_PAGE.NTC_CN
             , NOTICE_PAGE.SORT_NO
             , NOTICE_PAGE.ATCH_FILE_SN
             , NOTICE_PAGE.EXPSR_YN
             , NOTICE_PAGE.NTC_YN
          FROM
              (
               /* 순번 매기기 */
               SELECT ROWNUM ROWNUMBER
                    , NOTICE.*
                 FROM (
                       /* 리스트 조회 */
                       SELECT NTC_SN
                            , NTC_TTL
                            , NTC_CN
                            , SORT_NO
                            , ATCH_FILE_SN
                            , EXPSR_YN
                            , NTC_YN
                            , ROW_NUMBER() OVER(ORDER BY SORT_NO, NTC_SN DESC) RNUM
                         FROM KB_NTC_INFO
                        WHERE 1=1
                        <if test='keyword != null and keyword != ""'>
                            <choose>
                                <when test="type == 'all'">
                                    AND NTC_TTL LIKE '%'|| #{keyword} ||'%'
                                    OR NTC_CN   LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'title'">
                                    AND NTC_TTL LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'content'">
                                    AND NTC_CN   LIKE '%'|| #{keyword} ||'%'
                                </when>
                            </choose>
                        </if>
                        ORDER BY NTC_SN ASC
                       ) NOTICE
                 ORDER BY ROWNUMBER DESC
              ) NOTICE_PAGE
         WHERE RNUM BETWEEN #{start} AND #{end}
    </select>
    <!-- 공지사항 파일 저장 -->
    <insert id="insertFile" parameterType="com.kb.inno.admin.DTO.FileDTO" useGeneratedKeys="true" keyProperty="file_sn">
        /* 공지사항 파일 저장 */
        INSERT INTO KB_FILE_INFO
        (
         FILE_SN
       , FILE_NM
       , ORGNL_FILE_NM
       , FILE_SZ
       , FILE_EXTN
       , FILE_PATH
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         FILE_SN_SEQ.NEXTVAL
       , #{file_nm}
       , #{orgnl_file_nm}
       , #{file_sz}
       , #{file_extn}
       , #{file_path}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
        <selectKey keyProperty="file_sn" resultType="int" order="AFTER">
            /* 저장한 파일 중 제일 큰 것 조회(키 조회) */
            SELECT MAX(FILE_SN) AS FILE_SN
              FROM KB_FILE_INFO
        </selectKey>
    </insert>
    <!-- 공지사항 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.NoticeDTO">
        /* 공지사항 등록 */
        INSERT INTO KB_NTC_INFO
        (
         NTC_SN
       , NTC_TTL
       , NTC_CN
       , ATCH_FILE_SN
       , EXPSR_YN
       , SORT_NO
       , NTC_YN
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         NTC_SN_SEQ.NEXTVAL
       , #{ntc_ttl}
       , #{ntc_cn}
       , #{atch_file_sn}
       , #{expsr_yn}
       , #{sort_no}
       , #{ntc_yn}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- 공지사항 상세 조회 -->
    <select id="select" parameterType="int" resultType="com.kb.inno.admin.DTO.NoticeDTO">
        /* 공지사항 상세 조회 */
        SELECT NOTICE.NTC_SN       AS NTC_SN
             , NOTICE.NTC_TTL      AS NTC_TTL
             , NOTICE.NTC_CN       AS NTC_CN
             , NOTICE.ATCH_FILE_SN AS ATCH_FILE_SN
             , NOTICE.EXPSR_YN     AS EXPSR_YN
             , NOTICE.NTC_YN       AS NTC_YN
             , NOTICE.SORT_NO      AS SORT_NO
             , FILES.FILE_SN       AS ATCH_FILE_SN
             , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
             , FILES.FILE_NM       AS NTC_FILE_NAME
             , REPLACE(FILES.FILE_PATH, '\', '/')     AS NTC_PATH
          FROM KB_NTC_INFO NOTICE
             , KB_FILE_INFO FILES
         WHERE NOTICE.ATCH_FILE_SN = FILES.FILE_SN(+)
           AND NTC_SN = #{ntc_sn}
    </select>
    <!-- 공지사항 파일 삭제 -->
    <delete id="deleteFile" parameterType="int">
        /* 공지사항 파일 삭제 */
        DELETE
        FROM KB_FILE_INFO
        WHERE FILE_SN = #{file_sn}
    </delete>
    <!-- 공지사항 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.NoticeDTO">
        /* 공지사항 수정 */
        UPDATE KB_NTC_INFO
           SET NTC_TTL       = #{ntc_ttl}
             , NTC_CN        = #{ntc_cn}
             , ATCH_FILE_SN  = #{atch_file_sn}
             , EXPSR_YN      = #{expsr_yn}
             , SORT_NO       = #{sort_no}
             , NTC_YN        = #{ntc_yn}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE NTC_SN        = #{ntc_sn}
    </update>
    <!-- 공지사항 삭제 -->
    <delete id="delete" parameterType="int">
        /* 공지사항 삭제 */
        DELETE
          FROM KB_NTC_INFO
         WHERE NTC_SN = #{ntc_sn}
    </delete>
</mapper>