<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.PlaceDAO">
    <!-- 육성공간 리스트 조회 -->
    <select id="selectList" resultType="com.kb.inno.admin.DTO.PlaceDTO">
        /* 육성공간 리스트 조회 */
        SELECT ROWNUM AS ROWNUMBER
             , PLC_PAGE.*
         FROM (
               SELECT PLC_SN
                    , PLC_NM
                 FROM KB_PLC_INFO
                ORDER BY PLC_SN ASC
              ) PLC_PAGE
        ORDER BY ROWNUMBER DESC
    </select>
    <!-- 육성공간 파일 추가 -->
    <insert id="insertFile" parameterType="com.kb.inno.admin.DTO.FileDTO">
        /* 육성공간 파일 추가 */
        INSERT INTO KB_FILE_INFO
        (
         FILE_SN
       , FILE_NM
       , ORGNL_FILE_NM
       , FILE_SZ
       , FILE_EXTN
       , FILE_PATH
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         FILE_SN_SEQ.NEXTVAL
       , #{file_nm}
       , #{orgnl_file_nm}
       , #{file_sz}
       , #{file_extn}
       , #{file_path}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
        <selectKey keyProperty="file_sn" resultType="int" order="AFTER">
            /* 저장한 파일 중 제일 큰 것 조회(키 조회) */
            SELECT MAX(FILE_SN) AS FILE_SN
              FROM KB_FILE_INFO
        </selectKey>
    </insert>
    <!-- 육성공간 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.PlaceDTO">
        /* 육성공간 등록 */
        INSERT INTO KB_PLC_INFO
        (
         PLC_SN
       , PLC_NM
       , PLC_ADDR
       , SORT_NO
       , ATCH_FILE_SN1
       , ATCH_FILE_SN2
       , ATCH_FILE_SN3
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
          PLC_SN_SEQ.NEXTVAL
       , #{plc_nm}
       , #{plc_addr}
       , #{sort_no}
       , #{atch_file_sn1}
       , #{atch_file_sn2}
       , #{atch_file_sn3}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- 육성공간 상세 조회 -->
    <select id="select" parameterType="int" resultType="com.kb.inno.admin.DTO.PlaceDTO">
        /* 육성공간 상세 조회 */
        SELECT PLC.PLC_SN           AS PLC_SN
             , PLC.PLC_NM           AS PLC_NM
             , PLC.PLC_ADDR         AS PLC_ADDR
             , PLC.SORT_NO          AS SORT_NO
             , PLC.ATCH_FILE_SN1    AS ATCH_FILE_SN1
             , REPLACE(FILES1.FILE_PATH, '\', '/')     AS PLC_PATH1
             , FILES1.FILE_NM       AS PLC_FILE_NAME1
             , PLC.ATCH_FILE_SN2    AS ATCH_FILE_SN2
             , REPLACE(FILES2.FILE_PATH, '\', '/')     AS PLC_PATH2
             , FILES2.FILE_NM       AS PLC_FILE_NAME2
             , PLC.ATCH_FILE_SN3    AS ATCH_FILE_SN3
             , REPLACE(FILES3.FILE_PATH, '\', '/')     AS PLC_PATH3
             , FILES3.FILE_NM       AS PLC_FILE_NAME3
        FROM KB_PLC_INFO PLC
           , KB_FILE_INFO FILES1
           , KB_FILE_INFO FILES2
           , KB_FILE_INFO FILES3
        WHERE PLC.PLC_SN = #{plc_sn}
          AND PLC.ATCH_FILE_SN1 = FILES1.FILE_SN(+)
          AND PLC.ATCH_FILE_SN2 = FILES2.FILE_SN(+)
          AND PLC.ATCH_FILE_SN3 = FILES3.FILE_SN(+)
    </select>
    <!-- 육성공간 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.PlaceDTO">
        /* 육성공간 수정 */
        UPDATE KB_PLC_INFO
           SET PLC_NM        = #{plc_nm}
             , PLC_ADDR      = #{plc_addr}
             , SORT_NO       = #{sort_no}
             , ATCH_FILE_SN1 = #{atch_file_sn1}
             , ATCH_FILE_SN2 = #{atch_file_sn2}
             , ATCH_FILE_SN3 = #{atch_file_sn3}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE PLC_SN        = #{plc_sn}
    </update>
    <!-- 육성공간 삭제 -->
    <delete id="delete" parameterType="int">
        /* 육성공간 삭제 */
        DELETE
          FROM KB_PLC_INFO
         WHERE PLC_SN = #{plc_sn}
    </delete>
    <!-- 육성공간 파일 삭제 -->
    <delete id="deleteFile" parameterType="int">
        /* 육성공간 파일 삭제 */
        DELETE
          FROM KB_FILE_INFO
         WHERE FILE_SN = #{file_sn}
    </delete>
    <!-- 육성공간 리스트 조회 (미리보기용) -->
    <select id="selectListAll" parameterType="int" resultType="com.kb.inno.admin.DTO.PlaceDTO">
        /* 육성공간 리스트 조회 (미리보기용) */
        SELECT PLC.PLC_SN           AS PLC_SN
             , PLC.PLC_NM           AS PLC_NM
             , PLC.PLC_ADDR         AS PLC_ADDR
             , REPLACE(FILES1.FILE_PATH, '\', '/')     AS PLC_PATH1
             , FILES1.FILE_NM       AS PLC_FILE_NAME1
             , REPLACE(FILES2.FILE_PATH, '\', '/')     AS PLC_PATH2
             , FILES2.FILE_NM       AS PLC_FILE_NAME2
             , REPLACE(FILES3.FILE_PATH, '\', '/')     AS PLC_PATH3
             , FILES3.FILE_NM       AS PLC_FILE_NAME3
        FROM KB_PLC_INFO PLC
           , KB_FILE_INFO FILES1
           , KB_FILE_INFO FILES2
           , KB_FILE_INFO FILES3
        WHERE 1=1
        <if test="plc_sn != 0">
          AND NOT PLC_SN IN (#{plc_sn})
        </if>
          AND PLC.ATCH_FILE_SN1 = FILES1.FILE_SN(+)
          AND PLC.ATCH_FILE_SN2 = FILES2.FILE_SN(+)
          AND PLC.ATCH_FILE_SN3 = FILES3.FILE_SN(+)
        ORDER BY PLC.SORT_NO ASC
    </select>
</mapper>