<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.ReceiptDAO">


    <delete id="receiptDelete" parameterType="com.kb.inno.admin.DTO.ReceiptDTO">
        /* 지원서 임시 보관함 영구 삭제 */
        DELETE
			FROM KB_SRVY_EXMN_INFO
		WHERE 1 = 1
		AND SRVY_SN = #{srvy_sn}
    </delete>

    <update id="deleteCancel" parameterType="com.kb.inno.admin.DTO.ReceiptDTO">
        /* 지원서 임시 보관함 삭제 취소*/
		UPDATE KB_SRVY_EXMN_INFO
		SET    TMPR_DEL_YN = 'N'
		WHERE  SRVY_SN = #{srvy_sn}
    </update>
    
    <update id="tempDelete" parameterType="com.kb.inno.admin.DTO.ReceiptDTO">
        /* 지원서 접수 임시 삭제 */
		UPDATE KB_SRVY_EXMN_INFO
		SET    TMPR_DEL_YN = 'Y'
		WHERE  SRVY_SN = #{srvy_sn}
    </update>

    <update id="updateAlert" parameterType="com.kb.inno.admin.DTO.ReceiptListDTO">
        /* 지원서 접수 상태 변경 */
		UPDATE KB_SRVY_RSPNS_INFO
		SET    PRGRS_STTS = #{prgrs_stts}
		WHERE  CONM = #{conm}
    </update>    
    
    

    <select id="selectTrmpPageCount" parameterType="String" resultType="int">
        /* 지원서 임시 보관 카운터 */
        SELECT COUNT(DISTINCT SRVY_SN)
          FROM KB_SRVY_EXMN_INFO
         WHERE TMPR_DEL_YN = 'Y'
        <if test='keyword != null and keyword != ""'>
            <choose>
                <when test="type == 'title'">
                    AND SRVY_TTL LIKE '%'|| #{keyword} ||'%'
                </when>
            </choose>
        </if>
    </select>
    
    <select id="selecTemptList" resultType="com.kb.inno.admin.DTO.ReceiptDTO">
        /* 지원서 임시 보관 리스트 */
		SELECT SRVY_SN,
		       SRVY_TTL,
		       BANE_FILE_SN,
		       TMPR_DEL_YN,
		       FILE_NM,
		       FILE_PATH,
		       ROWNUMBER
		FROM   (SELECT SRVY_SN,
		               SRVY_TTL,
		               BANE_FILE_SN,
		               TMPR_DEL_YN,
		               FILE_NM,
		               FILE_PATH,
		               ROWNUM ROWNUMBER
		        FROM   (SELECT A.SRVY_SN,
		                       A.SRVY_TTL,
		                       A.BANE_FILE_SN,
		                       A.TMPR_DEL_YN,
		                       B.FILE_SN,
		                       B.FILE_NM,
		                       B.FILE_PATH
		                FROM   KB_SRVY_EXMN_INFO A,
		                       KB_FILE_INFO B
		                WHERE  1 = 1
		                       AND A.BANE_FILE_SN = B.FILE_SN(+)
		                       AND A.TMPR_DEL_YN = 'Y'
		                ORDER  BY SRVY_SN)
		        ORDER  BY ROWNUM DESC)
		WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>

    <select id="selectPageCount" parameterType="String" resultType="int">
        /* 설문조사 갯수 조회 */
        SELECT COUNT(DISTINCT SRVY_SN)
          FROM KB_SRVY_EXMN_INFO
         WHERE 1 = 1
        <if test='keyword != null and keyword != ""'>
            <choose>
                <when test="type == 'title'">
                    AND SRVY_TTL LIKE '%'|| #{keyword} ||'%'
                </when>
            </choose>
        </if>
    </select>

    <select id="selectList" resultType="com.kb.inno.admin.DTO.ReceiptDTO">
        /* 지원서 접수 관리 리스트 */
		SELECT SRVY_SN,
		       SRVY_TTL,
		       BANE_FILE_SN,
		       TMPR_DEL_YN,
		       FILE_NM,
		       FILE_PATH,
		       ROWNUMBER
		FROM   (SELECT SRVY_SN,
		               SRVY_TTL,
		               BANE_FILE_SN,
		               TMPR_DEL_YN,
		               FILE_NM,
		               FILE_PATH,
		               ROWNUM ROWNUMBER
		        FROM   (SELECT A.SRVY_SN,
		                       A.SRVY_TTL,
		                       A.BANE_FILE_SN,
		                       A.TMPR_DEL_YN,
		                       B.FILE_SN,
		                       B.FILE_NM,
		                       B.FILE_PATH
		                FROM   KB_SRVY_EXMN_INFO A,
		                       KB_FILE_INFO B
		                WHERE  1 = 1
						AND A.BANE_FILE_SN = B.FILE_SN(+)
		                AND A.TMPR_DEL_YN = 'N'
		                <if test='keyword != null and keyword != ""'>
		                    <choose>
		                        <when test="type == 'title'">
		                            AND SRVY_TTL LIKE '%'|| #{keyword} ||'%'
		                        </when>
		                    </choose>
		                </if>
		                ORDER  BY SRVY_SN)
		        ORDER  BY ROWNUM DESC)
		WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>

    <select id="selectMaxSn" resultType="int">
        /* 설문조사 일련번호 구하기 */
        SELECT NVL(MAX(SRVY_SN), 0) + 1
          FROM KB_SRVY_EXMN_INFO
    </select>

    <select id="receiptList" resultType="com.kb.inno.admin.DTO.ReceiptDTO">
        /* 지원서 접수 관리 상세 보기 리스트 */
        SELECT 
			  SRVY_QSTN_SN
			, SRVY_SN
			, QSTN_TYPE
			, SRVY_QSTN
			, SRVY_DTL_QSTN
			, ESNTL_VL_YN
			, SRVY_ANS_SN
			, ANS_CN
			, AFTR_MVMN
			, RSPNS_YMD
			, PRGRS_STTS
			, CONM
			, ROWNUM ROWNUMBER
		FROM (SELECT 
					 A.SRVY_QSTN_SN
					,A.SRVY_SN
					,A.QSTN_TYPE
					,A.SRVY_QSTN
					,A.SRVY_DTL_QSTN
					,A.ESNTL_VL_YN
					,B.SRVY_ANS_SN
					,B.ANS_CN
					,B.AFTR_MVMN
					,B.RSPNS_YMD
					,B.PRGRS_STTS
					,B.CONM
				FROM  KB_SRVY_QSTN_INFO A, KB_SRVY_ANS_INFO B
				WHERE A.SRVY_QSTN_SN = B.SRVY_QSTN_SN
				AND A.SRVY_SN = #{srvy_sn}
				<if test='keyword != null and keyword != ""'>
                    <choose>
                        <when test="type == 'title'">
                            AND B.PRGRS_STTS LIKE '%'|| #{keyword} ||'%'
                        </when>
                    </choose>
                </if>
				ORDER BY  A.SRVY_QSTN_SN
               )
         WHERE ROWNUM BETWEEN #{start} AND #{end}
    </select>
    
    <select id="receiptPageCount" parameterType="String" resultType="int">
        /* 지원서 접수 관리 상세 보기 리스트 */
		SELECT COUNT(DISTINCT a.srvy_qstn_sn)
			FROM  KB_SRVY_QSTN_INFO A, KB_SRVY_ANS_INFO B
			WHERE A.SRVY_QSTN_SN = B.SRVY_QSTN_SN
			AND A.SRVY_SN = #{srvy_sn}
		<!-- 	
        <if test='keyword != null and keyword != ""'>
            <choose>
                <when test="type == 'title'">
                    AND SRVY_TTL LIKE '%'|| #{keyword} ||'%'
                </when>
            </choose>
        </if>
        -->
    </select>

    <select id="selectConm" parameterType="String" resultType="String">
        /* 지원서 접수 관리 상세 보기 리스트 */
		SELECT
			C.CONM
		FROM KB_SRVY_EXMN_INFO A, KB_SRVY_QSTN_INFO B, KB_SRVY_RSPNS_INFO C
		WHERE A.SRVY_SN = B.SRVY_SN
		AND B.SRVY_QSTN_SN = C.SRVY_QSTN_SN
		AND A.SRVY_SN = #{srvy_sn}
		AND A.TMPR_DEL_YN = 'N'
		GROUP BY C.CONM
    </select>

    <select id="selectConmList" parameterType="String" resultType="com.kb.inno.admin.DTO.ReceiptConmDTO">
        /* 지원서 접수 관리 상세 보기 리스트 */
			SELECT 
			 A.SRVY_SN -- 지원 일련번호
			,A.SRVY_TTL -- 지원 제목
			,B.QSTN_TYPE -- 항목 타입
			,B.SRVY_QSTN -- 질문 제목
			,B.SRVY_QSTN_SN -- 질문 시퀀스(낮은 순자가 1번)
			,C.RSPNS_CN --답변
			,C.CONM    -- 회사명
			,C.PRGRS_STTS -- 진행 상태(0 : 접수, 1 : 1차 심사, 2 : 2차 심사, 3 : 3차 심사, 4 : 4차 심사, 5 : 5차 심사, 6 : 합격, 9 : 불합격)
			,ROWNUM ROWNUMBER 
			FROM KB_SRVY_EXMN_INFO A, KB_SRVY_QSTN_INFO B, KB_SRVY_RSPNS_INFO C
			WHERE A.SRVY_SN = B.SRVY_SN
			AND B.SRVY_QSTN_SN = C.SRVY_QSTN_SN
			--AND A.SRVY_SN = '12'
			AND C.CONM = #{conm}
			AND A.TMPR_DEL_YN = 'N'
			ORDER by ROWNUMBER
    </select>


   <!--  <insert id="insertFile" parameterType="com.kb.inno.admin.DTO.FileDTO" useGeneratedKeys="true" keyProperty="file_sn">
        /* 설문조사 파일 추가 */
        INSERT INTO KB_FILE_INFO
        (
          FILE_SN
        , FILE_NM
        , ORGNL_FILE_NM
        , FILE_SZ
        , FILE_EXTN
        , FILE_PATH
        , FRST_RGTR
        , FRST_REG_DT
        , LAST_MDFR
        , LAST_MDFCN_DT
        )
        VALUES
        (
          FILE_SN_SEQ.NEXTVAL
        , #{file_nm}
        , #{orgnl_file_nm}
        , #{file_sz}
        , #{file_extn}
        , #{file_path}
        , #{frst_rgtr}
        , SYSDATE
        , #{last_mdfr}
        , SYSDATE
        )
        <selectKey keyProperty="file_sn" resultType="int" order="AFTER">
            /* 저장한 파일 중 제일 큰 것 조회(키 조회) */
            SELECT MAX(FILE_SN) AS FILE_SN
              FROM KB_FILE_INFO
        </selectKey>
    </insert>

    <insert id="exmnInsert" parameterType="com.kb.inno.admin.DTO.SurveyDTO">
        /* 설문조사정보(KB_SRVY_EXMN_INFO) 등록 */
        INSERT INTO KB_SRVY_EXMN_INFO
        ( SRVY_SN
        , SRVY_TTL
        , BANE_FILE_SN
        , TMPR_DEL_YN
        , FRST_RGTR
        , FRST_REG_DT
        , LAST_MDFR
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{srvy_sn}
        , #{srvy_ttl}
        , #{bane_file_sn}
        , 'N'
        , #{frst_rgtr}
        , SYSDATE
        , #{last_mdfr}
        , SYSDATE
        )
    </insert>

    <select id="selectGuide" parameterType="com.kb.inno.admin.DTO.SurveyDTO" resultType="com.kb.inno.admin.DTO.SurveyDTO">
        SELECT SPRT_EXPLN_SN
             , RECRU_SE
             , RECRU_TRGT_M
             , RECRU_TRGT_S
             , RECRU_FLD_M
             , RECRU_FLD_S
             , SLCTN_BENEF_CN1
             , SLCTN_BENEF_CN2
             , SLCTN_BENEF_CN3
             , SLCTN_BENEF_CN4
             , RECRU_SCHDL
             , SLCTN_PRCS
          FROM KB_SPRT_EXPLN_INFO
         WHERE SPRT_EXPLN_SN = #{sprt_expln_sn}
    </select>

    <update id="guideInsert" parameterType="com.kb.inno.admin.DTO.SurveyDTO">
        MERGE INTO KB_SPRT_EXPLN_INFO A
            USING DUAL ON (A.SPRT_EXPLN_SN = #{sprt_expln_sn})
        WHEN MATCHED THEN
            UPDATE
               SET LAST_MDFCN_DT = SYSDATE
                 , RECRU_SE = #{recru_se}
                 , RECRU_TRGT_M = #{recru_trgt_m}
                 , RECRU_TRGT_S = #{recru_trgt_s}
                 , RECRU_FLD_M = #{recru_fld_m}
                 , RECRU_FLD_S = #{recru_fld_s}
                 , SLCTN_BENEF_CN1 = #{slctn_benef_cn1}
                 , SLCTN_BENEF_CN2 = #{slctn_benef_cn2}
                 , SLCTN_BENEF_CN3 = #{slctn_benef_cn3}
                 , SLCTN_BENEF_CN4 = #{slctn_benef_cn4}
                 , LAST_MDFR = #{last_mdfr}
                 , RECRU_SCHDL = #{recru_schdl}
                 , SLCTN_PRCS = #{slctn_prcs}
             WHERE SPRT_EXPLN_SN = #{sprt_expln_sn}
        WHEN NOT MATCHED THEN
            INSERT ( SPRT_EXPLN_SN
                   , RECRU_SE
                   , RECRU_TRGT_M
                   , RECRU_TRGT_S
                   , RECRU_FLD_M
                   , RECRU_FLD_S
                   , SLCTN_BENEF_CN1
                   , SLCTN_BENEF_CN2
                   , SLCTN_BENEF_CN3
                   , SLCTN_BENEF_CN4
                   , RECRU_SCHDL
                   , SLCTN_PRCS
                   , FRST_RGTR
                   , FRST_REG_DT
                   , LAST_MDFR
                   , LAST_MDFCN_DT
                   )
            VALUES ( #{sprt_expln_sn}
                   , #{recru_se}
                   , #{recru_trgt_m}
                   , #{recru_trgt_s}
                   , #{recru_fld_m}
                   , #{recru_fld_s}
                   , #{slctn_benef_cn1}
                   , #{slctn_benef_cn2}
                   , #{slctn_benef_cn3}
                   , #{slctn_benef_cn4}
                   , #{recru_schdl}
                   , #{slctn_prcs}
                   , #{frst_rgtr}
                   , SYSDATE
                   , #{last_mdfr}
                   , SYSDATE
                   )
    </update>

    <delete id="exmnDelete" parameterType="com.kb.inno.admin.DTO.SurveyDTO">
        /* 설문조사 삭제 */
        DELETE
          FROM KB_SRVY_EXMN_INFO
         WHERE 1 = 1
           AND SRVY_SN = #{srvy_sn}
    </delete> -->
</mapper>