<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.StartersDAO">
    <!-- KB 스타터스 조회 -->
    <select id="select" resultType="com.kb.inno.admin.DTO.StartersDTO">
        /* KB 스타터스 조회 */
        SELECT STAR_SN
             , SLCTN_PRCS
             , STARTER_STTS
             , SPRT
             , FRST_RGTR
             , FRST_REG_DT
             , LAST_MDFR
             , LAST_MDFCN_DT
          FROM KB_STARTER_INFO
    </select>
    <!-- KB 스타터스 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.StartersDTO">
        /* KB 스타터스 등록 */
        INSERT INTO KB_STARTER_INFO
        (
         STAR_SN
       , SLCTN_PRCS
       , STARTER_STTS
       , SPRT
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         STAR_SN_SEQ.NEXTVAL
       , #{slctn_prcs}
       , #{starter_stts}
       , #{sprt}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- KB 스타터스 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.StartersDTO">
        /* KB 스타터스 수정 */
        UPDATE KB_STARTER_INFO
           SET SLCTN_PRCS    = #{slctn_prcs}
             , STARTER_STTS  = #{starter_stts}
             , SPRT          = #{sprt}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE STAR_SN       = #{star_sn}
    </update>
</mapper>