<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.StartupDAO">

    <select id="selectPageCount" parameterType="String" resultType="int">
        /* 리스트 갯수 조회(전체) */
        SELECT COUNT(*)
          FROM KB_API_STARTER_INFO
         WHERE 1 = 1
           AND KB_STARTERS_YN = 'Y'
        <if test='keyword != null and keyword != ""'>
           <choose>
               <when test="type == 'all'">
                   AND ENT_NM LIKE '%'|| #{keyword} ||'%'
                    OR MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'ent_nm'">
                   AND ENT_NM LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'main_biz'">
                   AND MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
               </when>
           </choose>
        </if>
    </select>
    <!-- KB 스타터스 리스트 조회 -->
    <select id="selectList" resultType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타트업 리스트 조회 */
        SELECT ROWNUMBER
             , ENT_CD
             , ENT_NM
             , MAIN_BIZ
             , RNUM
             , SRVC_NM
          FROM
              (
               /* 순번 매기기 */
               SELECT ROWNUM ROWNUMBER
                    , ENT_CD
                    , ENT_NM
                    , MAIN_BIZ
                    , RNUM
                    , SRVC_NM
                 FROM (
                       /* 리스트 조회 */
				       SELECT ENT_CD
				            , ENT_NM
				            , MAIN_BIZ
				            , ROW_NUMBER() OVER(ORDER BY A.FRST_REG_DT DESC) RNUM
				            , NVL((SELECT DISTINCT SRVC_NM FROM KB_API_BIZ_SRVC_INFO Z WHERE Z.ENT_CD = A.ENT_CD AND ROWNUM = 1), '-') SRVC_NM
                         FROM KB_API_STARTER_INFO A
                        WHERE 1 = 1
                          AND KB_STARTERS_YN = 'Y'
                        <if test='keyword != null and keyword != ""'>
                            <choose>
                                <when test="type == 'all'">
                                    AND ENT_NM LIKE '%'|| #{keyword} ||'%'
                                    OR MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'ent_nm'">
                                    AND ENT_NM LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'main_biz'">
                                    AND MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
                                </when>
                            </choose>
                        </if>
                        ORDER BY A.FRST_REG_DT DESC
                       )
                 ORDER BY ROWNUMBER ASC
              )
         WHERE RNUM BETWEEN #{start} AND #{end}
    </select>

    <insert id="insertStarterInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB_API_STARTER_INFO 등록 */
        INSERT INTO KB_API_STARTER_INFO
        ( ENT_CD
        , ENT_NM
        , MAIN_BIZ
        , TPBIZ
        , NOW_WRKR_NOCS
        , RPRSV_NM
        , FNDN_YMD
        , BRNO
        , CORP_NO
        , CPTL_AMT
        , ENT_SHAPE
        , EXTERNAL_AUDIT_YN
        , VENTURE_CERT_YN
        , ADDR
        , ENT_SCALE
        , PRDCT
        , HMPG
        , MM12_JNCMP_NOCS
        , MM12_RSGNTN_NOCS
        , MM12_RSGNTN_RT
        , KB_STARTERS_YN
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , #{ent_nm}
        , #{main_biz}
        , #{tpbiz}
        , #{now_wrkr_nocs}
        , #{rprsv_nm}
        , #{fndn_ymd}
        , REPLACE(#{brno}, '-', '')
        , REPLACE(#{corp_no}, '-', '')
        , #{cptl_amt}
        , #{ent_shape}
        , #{external_audit_yn}
        , #{venture_cert_yn}
        , #{addr}
        , #{ent_scale}
        , #{prdct}
        , #{hmpg}
        , #{mm12_jncmp_nocs}
        , #{mm12_rsgntn_nocs}
        , #{mm12_rsgntn_rt}
        , 'Y'
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertBizSrvcInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_BIZ_SRVC_INFO
        ( ENT_CD
        , SRVC_NM
        , GOOGLE_APP_LINK
        , APPLE_APP_LINK
        , WEB_SRVC_LINK
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , REPLACE(#{srvc_nm}, '|', ',')
        , #{google_app_link}
        , #{apple_app_link}
        , #{web_srvc_link}
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertInvestInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_INVEST_INFO
        ( ENT_CD
        , INVESTOR
        , SERIES_NM
        , INVEST_AMT
        , INVEST_YMD
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , REPLACE(#{investor}, '|', ',')
        , #{series_nm}
        , #{invest_amt}
        , #{invest_ymd}
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertEmploInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_EMPLO_INFO
        ( ENT_CD
        , CRTR_YM
        , JNCMP_NOCS
        , RSGNTN_NOCS
        , HDOF_NOCS
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , #{crtr_ym}
        , #{jncmp_nocs}
        , #{rsgntn_nocs}
        , #{hdof_nocs}
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertSlsInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_SLS_INFO
        ( ENT_CD
        , YR
        , SLS_AMT
        , SLS_COST_AMT
        , SLS_GRAMT
        , SGA_AMT
        , OPERATING_PROFIT
        , NET_PROFIT
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , #{sls_yr}
        , #{sls_amt}
        , #{sls_cost_amt}
        , #{sls_gramt}
        , #{sga_amt}
        , #{operating_profit}
        , #{net_profit}
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertAstInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_AST_INFO
        ( ENT_CD
        , YR
        , CURRENT_ASSETS
        , NON_CURRENT_ASSETS
        , AST_GRAMT
        , DEBT_GRAMT
        , CPTL
        , CPTL_GRAMT
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , #{ast_yr}
        , #{current_assets}
        , #{non_current_assets}
        , #{ast_gramt}
        , #{debt_gramt}
        , #{cptl}
        , #{cptl_gramt}
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertNewsInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_NEWS_INFO
        ( ENT_CD
        , NEWS_ID
        , PROVIDER
        , NEWS_TTL
        , NEWS_LINK
        , THUMB_URL
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , #{news_id}
        , #{provider}
        , #{news_ttl}
        , #{news_link}
        , #{thumb_url}
        , SYSDATE
        , SYSDATE
        )
    </insert>

    <insert id="insertKeywdInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        INSERT INTO KB_API_KEYWD_INFO
        ( ENT_CD
        , KEYWD
        , NOCS
        , FRST_REG_DT
        , LAST_MDFCN_DT
        )
        VALUES
        ( #{ent_cd}
        , #{keywd}
        , #{nocs}
        , CURRENT_TIMESTAMP
        , SYSDATE
        )
    </insert>

    <update id="updateStarterInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        UPDATE KB_API_STARTER_INFO
           SET ENT_NM = #{ent_nm}
             , MAIN_BIZ = #{main_biz}
             , TPBIZ = #{tpbiz}
             , NOW_WRKR_NOCS = #{now_wrkr_nocs}
             , RPRSV_NM = #{rprsv_nm}
             , FNDN_YMD = #{fndn_ymd}
             , BRNO = REPLACE(#{brno}, '-', '')
             , CORP_NO = REPLACE(#{corp_no}, '-', '')
             , CPTL_AMT = #{cptl_amt}
             , ENT_SHAPE = #{ent_shape}
             , EXTERNAL_AUDIT_YN = #{external_audit_yn}
             , VENTURE_CERT_YN = #{venture_cert_yn}
             , ADDR = #{addr}
             , ENT_SCALE = #{ent_scale}
             , PRDCT = #{prdct}
             , HMPG = #{hmpg}
             , MM12_JNCMP_NOCS = #{mm12_jncmp_nocs}
             , MM12_RSGNTN_NOCS = #{mm12_rsgntn_nocs}
             , MM12_RSGNTN_RT = #{mm12_rsgntn_rt}
             , KB_STARTERS_YN = 'Y'
             , LAST_MDFCN_DT = SYSDATE
        WHERE ENT_CD = #{ent_cd}
    </update>

    <delete id="deleteStarterInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_STARTER_INFO
         WHERE ENT_CD = #{ent_cd}
           AND KB_STARTERS_YN = 'Y'
    </delete>

    <delete id="deleteBizSrvcInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_BIZ_SRVC_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <delete id="deleteInvestInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_INVEST_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <delete id="deleteEmploInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_EMPLO_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <delete id="deleteSlsInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_SLS_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <delete id="deleteAstInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_AST_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <delete id="deleteNewsInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_NEWS_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <delete id="deleteKeywdInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        DELETE
          FROM KB_API_KEYWD_INFO
         WHERE ENT_CD = #{ent_cd}
    </delete>

    <select id="selectStarterInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , ENT_NM
             , MAIN_BIZ
             , TPBIZ
             , NOW_WRKR_NOCS
             , RPRSV_NM
             , FNDN_YMD
             , BRNO
             , CORP_NO
             , CPTL_AMT
             , ENT_SHAPE
             , EXTERNAL_AUDIT_YN
             , VENTURE_CERT_YN
             , ADDR
             , ENT_SCALE
             , PRDCT
             , HMPG
             , MM12_JNCMP_NOCS
             , MM12_RSGNTN_NOCS
             , MM12_RSGNTN_RT
             , KB_STARTERS_YN
          FROM KB_API_STARTER_INFO
         WHERE ENT_CD = #{ent_cd}
    </select>

    <select id="selectBizSrvcInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , SRVC_NM
             , GOOGLE_APP_LINK
             , APPLE_APP_LINK
             , WEB_SRVC_LINK
          FROM KB_API_BIZ_SRVC_INFO
         WHERE ENT_CD = #{ent_cd}
    </select>

    <select id="selectInvestInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , INVESTOR
             , SERIES_NM
             , INVEST_AMT
             , INVEST_YMD
          FROM KB_API_INVEST_INFO
         WHERE ENT_CD = #{ent_cd}
    </select>

    <select id="selectEmploInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , CRTR_YM
             , JNCMP_NOCS
             , RSGNTN_NOCS
             , HDOF_NOCS
          FROM KB_API_EMPLO_INFO
         WHERE ENT_CD = #{ent_cd}
    </select>

    <select id="selectListSlsInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , YR as sls_yr
             , SLS_AMT
             , SLS_COST_AMT
             , SLS_GRAMT
             , SGA_AMT
             , OPERATING_PROFIT
             , NET_PROFIT
          FROM KB_API_SLS_INFO
         WHERE ENT_CD = #{ent_cd}
         ORDER BY YR ASC
    </select>

    <select id="selectListAstInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , YR as ast_yr
             , CURRENT_ASSETS
             , NON_CURRENT_ASSETS
             , AST_GRAMT
             , DEBT_GRAMT
             , CPTL
             , CPTL_GRAMT
          FROM KB_API_AST_INFO
         WHERE ENT_CD = #{ent_cd}
        ORDER BY YR ASC
    </select>

    <select id="selectNewsInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , NEWS_ID
             , PROVIDER
             , NEWS_TTL
             , NEWS_LINK
             , THUMB_URL
          FROM KB_API_NEWS_INFO
         WHERE ENT_CD = #{ent_cd}
         ORDER BY THUMB_URL
    </select>

    <select id="selectKeywdInfo" parameterType="com.kb.inno.admin.DTO.StartupDTO" resultType="com.kb.inno.admin.DTO.StartupDTO">
        SELECT ENT_CD
             , KEYWD
             , NOCS
          FROM KB_API_KEYWD_INFO
         WHERE ENT_CD = #{ent_cd}
         ORDER BY FRST_REG_DT
    </select>
</mapper>