<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.StartupDAO">

    <select id="selectPageCount" parameterType="String" resultType="int">
        /* 리스트 갯수 조회(전체) */
        SELECT COUNT(*)
          FROM KB_API_STARTER_INFO
         WHERE 1 = 1
           AND KB_STARTERS_YN = 'Y'
        <if test='keyword != null and keyword != ""'>
           <choose>
               <when test="type == 'all'">
                   AND ENT_NM LIKE '%'|| #{keyword} ||'%'
                    OR MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'ent_nm'">
                   AND ENT_NM LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'main_biz'">
                   AND MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
               </when>
           </choose>
        </if>
    </select>
    <!-- KB 스타터스 리스트 조회 -->
    <select id="selectList" resultType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타트업 리스트 조회 */
        SELECT ROWNUMBER
             , ENT_CD
             , ENT_NM
             , MAIN_BIZ
             , RNUM
             , SRVC_NM
          FROM
              (
               /* 순번 매기기 */
               SELECT ROWNUM ROWNUMBER
                    , ENT_CD
                    , ENT_NM
                    , MAIN_BIZ
                    , RNUM
                    , SRVC_NM
                 FROM (
                       /* 리스트 조회 */
				       SELECT ENT_CD
				            , ENT_NM
				            , MAIN_BIZ
				            , ROW_NUMBER() OVER(ORDER BY ENT_CD DESC) RNUM
				            , NVL((SELECT DISTINCT SRVC_NM FROM KB_API_BIZ_SRVC_INFO Z WHERE Z.ENT_CD = A.ENT_CD), '-') SRVC_NM
                         FROM KB_API_STARTER_INFO A
                        WHERE 1 = 1
                          AND KB_STARTERS_YN = 'Y'
                        <if test='keyword != null and keyword != ""'>
                            <choose>
                                <when test="type == 'all'">
                                    AND ENT_NM LIKE '%'|| #{keyword} ||'%'
                                    OR MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'ent_nm'">
                                    AND ENT_NM LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'main_biz'">
                                    AND MAIN_BIZ LIKE '%'|| #{keyword} ||'%'
                                </when>
                            </choose>
                        </if>
                        ORDER BY ENT_CD ASC
                       )
                 ORDER BY ROWNUMBER DESC
              )
         WHERE RNUM BETWEEN #{start} AND #{end}
    </select>
    <!-- KB 스타터스 조회 -->
    <select id="select" resultType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타터스 조회 */
        SELECT STAR_SN
             , SLCTN_PRCS
             , STARTER_STTS
             , SPRT
             , FRST_RGTR
             , FRST_REG_DT
             , LAST_MDFR
             , LAST_MDFCN_DT
          FROM KB_STARTUP_INFO
    </select>
    <!-- KB 스타터스 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타터스 등록 */
        INSERT INTO KB_STARTUP_INFO
        (
         STAR_SN
       , SLCTN_PRCS
       , STARTER_STTS
       , SPRT
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         STAR_SN_SEQ.NEXTVAL
       , #{slctn_prcs}
       , #{starter_stts}
       , #{sprt}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- KB 스타터스 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타터스 수정 */
        UPDATE KB_STARTUP_INFO
           SET SLCTN_PRCS    = #{slctn_prcs}
             , STARTER_STTS  = #{starter_stts}
             , SPRT          = #{sprt}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE STAR_SN       = #{star_sn}
    </update>
</mapper>