<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.StartupDAO">

    <select id="selectPageCount" parameterType="String" resultType="int">
        /* 공지사항 리스트 갯수 조회(전체) */
        SELECT COUNT(*)
          FROM KB_STARTUP_INFO
         WHERE 1=1
        <if test='keyword != null and keyword != ""'>
           <choose>
               <when test="type == 'all'">
                   AND NTC_TTL LIKE '%'|| #{keyword} ||'%'
                    OR NTC_CN   LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'title'">
                   AND NTC_TTL LIKE '%'|| #{keyword} ||'%'
               </when>
               <when test="type == 'content'">
                   AND NTC_CN   LIKE '%'|| #{keyword} ||'%'
               </when>
           </choose>
        </if>
    </select>
    <!-- KB 스타터스 리스트 조회 -->
    <select id="selectList" resultType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타트업 리스트 조회 */
        /* 공지사항 리스트 조회 */
        SELECT STARTUP_PAGE.ROWNUMBER
             , STARTUP_PAGE.STAR_SN
             , STARTUP_PAGE.SLCTN_PRCS
             , STARTUP_PAGE.STARTER_STTS
             , STARTUP_PAGE.SPRT
             , STARTUP_PAGE.FRST_RGTR
             , STARTUP_PAGE.FRST_REG_DT
             , STARTUP_PAGE.LAST_MDFR
             , STARTUP_PAGE.LAST_MDFCN_DT
          FROM
              (
               /* 순번 매기기 */
               SELECT ROWNUM ROWNUMBER
                    , STARTUP.*
                 FROM (
                       /* 리스트 조회 */
				       SELECT STAR_SN
				            , SLCTN_PRCS
				            , STARTER_STTS
				            , SPRT
				            , FRST_RGTR
				            , FRST_REG_DT
				            , LAST_MDFR
							, LAST_MDFCN_DT
							, ROW_NUMBER() OVER(ORDER BY STAR_SN DESC) RNUM
                         FROM KB_STARTUP_INFO
                        WHERE 1=1
                        <if test='keyword != null and keyword != ""'>
                            <choose>
                                <when test="type == 'all'">
                                    AND STARTER_STTS LIKE '%'|| #{keyword} ||'%'
                                    OR STAR_SN   LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'title'">
                                    AND STARTER_STTS LIKE '%'|| #{keyword} ||'%'
                                </when>
                                <when test="type == 'content'">
                                    AND STAR_SN   LIKE '%'|| #{keyword} ||'%'
                                </when>
                            </choose>
                        </if>
                        ORDER BY STAR_SN ASC
                       ) STARTUP
                 ORDER BY ROWNUMBER DESC
              ) STARTUP_PAGE
         WHERE RNUM BETWEEN #{start} AND #{end}
    </select>
    <!-- KB 스타터스 조회 -->
    <select id="select" resultType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타터스 조회 */
        SELECT STAR_SN
             , SLCTN_PRCS
             , STARTER_STTS
             , SPRT
             , FRST_RGTR
             , FRST_REG_DT
             , LAST_MDFR
             , LAST_MDFCN_DT
          FROM KB_STARTUP_INFO
    </select>
    <!-- KB 스타터스 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타터스 등록 */
        INSERT INTO KB_STARTUP_INFO
        (
         STAR_SN
       , SLCTN_PRCS
       , STARTER_STTS
       , SPRT
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         STAR_SN_SEQ.NEXTVAL
       , #{slctn_prcs}
       , #{starter_stts}
       , #{sprt}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- KB 스타터스 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.StartupDTO">
        /* KB 스타터스 수정 */
        UPDATE KB_STARTUP_INFO
           SET SLCTN_PRCS    = #{slctn_prcs}
             , STARTER_STTS  = #{starter_stts}
             , SPRT          = #{sprt}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE STAR_SN       = #{star_sn}
    </update>
</mapper>