<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.inno.admin.DAO.VisualDAO">
    <!-- 메인 비주얼 조회 -->
    <select id="selectList" resultType="com.kb.inno.admin.DTO.VisualDTO">
        /* 메인 비주얼 조회 */
        SELECT ROWNUM AS ROWNUMBER
             , VISUAL_PAGE.*
        FROM (
              SELECT VISUAL.MAIN_SN      AS MAIN_SN
                   , VISUAL.MAIN_CN      AS MAIN_CN
                   , VISUAL.EXPSR_YN     AS EXPSR_YN
                   , VISUAL.SORT_NO      AS SORT_NO
                   , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
                   , FILES.FILE_NM       AS MAIN_FILE_NAME
                   , REPLACE(FILES.FILE_PATH, '\', '/')     AS MAIN_PATH
                 FROM KB_MAIN_INFO VISUAL
                    , KB_FILE_INFO FILES
                WHERE VISUAL.ATCH_FILE_SN = FILES.FILE_SN(+)
                ORDER BY MAIN_SN ASC
             ) VISUAL_PAGE
        ORDER BY ROWNUMBER DESC
    </select>
    <!-- 메인 비주얼 파일 추가 -->
    <insert id="insertFile" parameterType="com.kb.inno.admin.DTO.FileDTO" useGeneratedKeys="true" keyProperty="file_sn">
        /* 메인 비주얼 파일 추가 */
        INSERT INTO KB_FILE_INFO
        (
         FILE_SN
       , FILE_NM
       , ORGNL_FILE_NM
       , FILE_SZ
       , FILE_EXTN
       , FILE_PATH
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         FILE_SN_SEQ.NEXTVAL
       , #{file_nm}
       , #{orgnl_file_nm}
       , #{file_sz}
       , #{file_extn}
       , #{file_path}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
        <selectKey keyProperty="file_sn" resultType="int" order="AFTER">
            /* 저장한 파일 중 제일 큰 것 조회(키 조회) */
            SELECT MAX(FILE_SN) AS FILE_SN
            FROM KB_FILE_INFO
        </selectKey>
    </insert>
    <!-- 메인 비주얼 등록 -->
    <insert id="insert" parameterType="com.kb.inno.admin.DTO.VisualDTO">
        /* 메인 비주얼 등록 */
        INSERT INTO KB_MAIN_INFO
        (
         MAIN_SN
       , MAIN_CN
       , EXPSR_YN
       , SORT_NO
       , ATCH_FILE_SN
       , FRST_RGTR
       , FRST_REG_DT
       , LAST_MDFR
       , LAST_MDFCN_DT
        )
        VALUES
        (
         MAIN_SN_SEQ.NEXTVAL
       , #{main_cn}
       , #{expsr_yn}
       , #{sort_no}
       , #{atch_file_sn}
       , #{frst_rgtr}
       , SYSDATE
       , #{last_mdfr}
       , SYSDATE
        )
    </insert>
    <!-- 메인 비주얼 상세 조회 -->
    <select id="select" parameterType="int" resultType="com.kb.inno.admin.DTO.VisualDTO">
        /* 메인 비주얼 상세 조회 */
        SELECT VISUAL.MAIN_SN      AS MAIN_SN
             , VISUAL.MAIN_CN      AS MAIN_CN
             , VISUAL.EXPSR_YN     AS EXPSR_YN
             , VISUAL.SORT_NO      AS SORT_NO
             , FILES.FILE_SN       AS ATCH_FILE_SN
             , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
             , FILES.FILE_NM       AS MAIN_FILE_NAME
             , REPLACE(FILES.FILE_PATH, '\', '/')     AS MAIN_PATH
          FROM KB_MAIN_INFO VISUAL
             , KB_FILE_INFO FILES
         WHERE VISUAL.ATCH_FILE_SN = FILES.FILE_SN(+)
           AND VISUAL.MAIN_SN      = #{main_sn}
    </select>
    <!-- 메인 비주얼 수정 -->
    <update id="update" parameterType="com.kb.inno.admin.DTO.VisualDTO">
        /* 메인 비주얼 수정 */
        UPDATE KB_MAIN_INFO
           SET MAIN_CN       = #{main_cn}
             , EXPSR_YN      = #{expsr_yn}
             , SORT_NO       = #{sort_no}
             , ATCH_FILE_SN  = #{atch_file_sn}
             , LAST_MDFR     = #{last_mdfr}
             , LAST_MDFCN_DT = SYSDATE
         WHERE MAIN_SN       = #{main_sn}
    </update>
    <!-- 메인 비주얼 삭제 -->
    <delete id="delete" parameterType="int">
        /* 메인 비주얼 삭제 */
        DELETE
          FROM KB_MAIN_INFO
         WHERE MAIN_SN = #{main_sn}
    </delete>
    <!-- 메인 비주얼 파일 삭제 -->
    <delete id="deleteFile" parameterType="int">
        /* 메인 비주얼 파일 삭제 */
        DELETE
          FROM KB_FILE_INFO
         WHERE FILE_SN = #{file_sn}
    </delete>
    <!-- 메인 비주얼 리스트 조회 (미리보기용) -->
    <select id="selectListAll" parameterType="int" resultType="com.kb.inno.admin.DTO.VisualDTO">
        /* 메인 비주얼 리스트 조회 (미리보기용) */
        SELECT VISUAL.MAIN_SN      AS MAIN_SN
             , VISUAL.MAIN_CN      AS MAIN_CN
             , VISUAL.EXPSR_YN     AS EXPSR_YN
             , VISUAL.SORT_NO      AS SORT_NO
             , FILES.ORGNL_FILE_NM AS ORIGIN_FILE_NAME
             , FILES.FILE_NM       AS MAIN_FILE_NAME
             , REPLACE(FILES.FILE_PATH, '\', '/')     AS MAIN_PATH
        FROM KB_MAIN_INFO VISUAL
           , KB_FILE_INFO FILES
        WHERE 1=1
          AND VISUAL.ATCH_FILE_SN = FILES.FILE_SN(+)
          AND VISUAL.EXPSR_YN = 'Y'
        <if test="main_sn != 0">
          AND NOT MAIN_SN IN (#{main_sn})
        </if>
        ORDER BY MAIN_SN DESC
    </select>
</mapper>