<!doctype html>
<html lang="ko">
<head th:replace="fragment/config :: configFragment"></head>

<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
    
        <main class="main">
            <div class="container">
                <form id="history_form" name="history_form" th:action="@{/history/insert}" method="post">
                    <input type="hidden" id="menu_id" name="menu_id" th:value="${menuId}"/>
                    <div class="row">
                        <div class="col">
                            <div class="paper">
                                <h2 class="h4">연혁</h2>
                                <div class="mt-4">
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light" width="20%">연도</th>
                                                <td>
                                                    <input type="number" class="form-control w-auto" id="hstry_yr" name="hstry_yr" value="" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="question">
                                <!-- 항목 리스트 -->
                                <div class="question-list">
                                    <div class="question-head">
                                        <h3 class="heading h5">항목 1</h3>
                                    </div>
                                    <div class="question-body on" data-question-type="1">
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control" value="" id="main_input1" name="main_input1" placeholder="메인텍스트를 입력해 주세요." maxlength="150">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="item-list">
                                                    <div class="item">
                                                        <div class="column">
                                                            <input type="text" class="form-control form-control-sm" id="sub_input1_1" name="sub_input1" value="" placeholder="서브텍스트를 입력해 주세요." maxlength="150">
                                                        </div>
                                                        <div class="column">
                                                            <button type="button" class="btn remove-item" onclick="removeItem(this)"><i data-feather="x-circle"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-sm btn-dark add-item" onclick="addItem(this, 1)" data-idx="2">
                                                    <i class="me-0" data-feather="plus"></i>
                                                    서브텍스트 추가
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="question-foot">
                                        <button type="button" class="btn btn-sm btn-dark" onclick="removeList(this)" data-idx="1"><i data-feather="trash-2"></i>항목 삭제</button>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <!--<button type="submit" class="btn btn-primary">등록하기</button>-->
                                <!--<a href="#" target="_blank" class="btn btn-outline-primary">미리보기</a>-->
<!--                                <button type="button" class="btn btn-outline-primary" id="preview_open">미리보기</button>-->
                                <a id="preview-button" href="javascript:previewPage()" class="btn btn-outline-primary">미리보기</a>
                                <a th:href="@{/history/list/{menuId}(menuId=${menuId})}" class="btn btn-outline-primary">목록보기</a>
                                <button type="button" class="btn btn-primary" onclick="javascript:historyInsert();">등록하기</button>
                                <!--<a href="javascript:" class="btn btn-outline-primary" onclick="history.back();">목록보기</a>-->
                                <button id="buttonAddList" type="button" class="btn btn-dark add-list"><i data-feather="plus"></i> 항목 추가</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <div class="preview_container">
            <div class="preview_modal">
                <div class="section-history">
                    <div class="history">
                        <div class="progress"><span class="bar"></span></div>
                        <ol class="list">
                        </ol>
                    </div>
                </div>
            </div>
            <div class="preview_button_wrap">
                <button class="btn btn-primary" id="preview_close">닫기</button>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const selectedYear = [[${hstry_yr}]];
        const data = [[${previewList}]];
        const modifyedData = data.reduce((acc, cur) => {
            if(acc[cur.hstry_yr]) acc[cur.hstry_yr].push(cur)
            else acc[cur.hstry_yr] = [cur];
            return acc;
        }, {})

        Object.keys(modifyedData).forEach(dataKey => {
            modifyedData[dataKey] = modifyedData[dataKey].reduce((acc,cur) => {
                if(acc[cur.hstry_lclsf_ttl]) acc[cur.hstry_lclsf_ttl].push(cur.hstry_sclsf_ttl);
                else acc[cur.hstry_lclsf_ttl] = [cur.hstry_sclsf_ttl];
                return acc;
            }, {})
        })

        const renderPreviewModal = (data) => {
            const previewModal = document.querySelector('.preview_container');
            const previewModalList = previewModal.querySelector('.list');

            previewModalList.innerHTML = '';

            Object.keys(data).sort((a,b) => b-a).forEach(dataKey => {
                const li = document.createElement('li');
                li.classList.add('item');
                const side = document.createElement('div');
                side.classList.add('side');
                const contents = document.createElement('div');
                contents.classList.add('contents');
                const year = document.createElement('p');
                year.classList.add('year');
                year.innerText = dataKey;
                const context = document.createElement('div');
                context.classList.add('context');

                contents.append(year, context);

                const sub = Object.keys(data[dataKey]);
                sub.forEach(el => {
                    const subTitle = document.createElement('h1');
                    subTitle.innerText = el;
                    context.append(subTitle);

                    const subList = document.createElement('ul');

                    data[dataKey][el].forEach(listItem => {
                        const subLi = document.createElement('li');
                        subLi.innerText = listItem;
                        subList.append(subLi)
                    })

                    context.append(subList)
                })

                li.append(side, contents);
                previewModalList.append(li);
            })
        }

        function brandHistory() {
            const item = gsap.utils.toArray('.section-history .history .item');
            const tl = gsap.timeline();

            for(let i = 0; i < item.length; i++) {
                ScrollTrigger.create({
                    scroller: '.preview_modal',
                    trigger: item[i],
                    start: 'top 50%',
                    end: 'bottom bottom',
                    onEnter: () => item[i].classList.add('on'),
                    onLeaveBack: () => item[i].classList.remove('on'),
                    // markers: true
                });
            }

            gsap.to('.section-history .history .progress .bar', {
                ease: 'none',
                height: '100%',
                scrollTrigger: {
                    scroller: '.preview_modal',
                    animation: tl,
                    trigger: '.history',
                    start: 'top 60%',
                    end: 'bottom 60%',
                    scrub: 0.5,
                    // markers: true
                }
            });
        }
        //
        // const previewOpenBtn = document.querySelector('#preview_open');
        // const previewCLoseBtn = document.querySelector('#preview_close');
        //
        // previewOpenBtn.addEventListener('click', () => {
        //     document.querySelector('.preview_container').classList.add('show');
        //
        //     const getPageHistoryItem = () => {
        //         const copyData = {...modifyedData};
        //         delete copyData[selectedYear];
        //
        //         const pageData = {};
        //         pageData[hstry_yr.value] = {};
        //
        //         document.querySelectorAll('.question-list').forEach(el => {
        //             const rowArray = [...el.querySelectorAll('.row')];
        //             const [title, lists] = rowArray;
        //
        //             pageData[hstry_yr.value][title.querySelector('input').value] = [];
        //
        //             lists.querySelectorAll('input').forEach(input => {
        //                 pageData[hstry_yr.value][title.querySelector('input').value].push(input.value);
        //             })
        //         })
        //
        //         copyData[hstry_yr.value] = pageData[hstry_yr.value];
        //         renderPreviewModal(copyData)
        //     }
        //     getPageHistoryItem()
        //
        //     brandHistory();
        // });
        // previewCLoseBtn.addEventListener('click', () => {
        //     document.querySelector('.preview_container').classList.remove('show');
        // });

    </script>


    <script th:inline="javascript">
        var listIndex = 2, itemIndex = [];

        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }

        $(function(){
            $('#buttonAddList').click(addList);
            $('.select-type').on('change', changeType);
        });

        // 항목 추가
        function addList() {
            if (listIndex > 10) {
                alert("항목은 10개 이상 추가 할 수 없습니다.");
                return false;
            }
            const dom = 
                '<div class="question-list">' +
                    '<div class="question-head">' +
                        '<h3 class="heading h5"><i data-feather="check-circle"></i> 항목 '+ listIndex +'</h3>' +
                    '</div>' +
                    '<div class="question-body on" data-question-type="1">' +
                        '<div class="row">' +
                            '<div class="col">' +
                                '<input type="text" class="form-control" value="" id="main_input'+ listIndex +'" name="main_input'+ listIndex +'" placeholder="메인텍스트를 입력해 주세요." maxlength="150">' +
                            '</div>' +
                        '</div>' +
                        '<div class="row">' +
                            '<div class="col">' +
                                '<div class="item-list">' +
                                    '<div class="item">' +
                                        '<div class="column">' +
                                            '<input type="text" class="form-control form-control-sm" id="sub_input'+ listIndex +'_1" name="sub_input'+ listIndex +'" value="" placeholder="서브텍스트를 입력해 주세요."  maxlength="150">' +
                                        '</div>' +
                                        '<div class="column">' +
                                            '<button type="button" class="btn remove-item" onclick="removeItem(this)"><i data-feather="x-circle"></i></button>' +
                                        '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<button type="button" class="btn btn-sm btn-dark add-item" onclick="addItem(this, \'' + listIndex + '\')" data-idx="2">' +
                                    '<i class="me-0" data-feather="plus"></i>' +
                                    '서브텍스트 추가' +
                                '</button>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div class="question-foot">' +
                        '<button type="button" class="btn btn-sm btn-dark" onclick="removeList(this)"><i data-feather="trash-2"></i>항목 삭제</button>' +
                    '</div>' +
                '</div>';

            $('.question').append(dom);
            
            feather.replace();

            listIndex++;
        }

        // 항목 삭제
        function removeList(e) {
            const element = $(e);

            if (parseInt(e.dataset.idx) == 1) {
                alert("항목 1은 삭제할 수 없습니다.");
                return false;
            }

            element.closest('.question-list').remove();
        }

        // 질문 유형 선택
        function changeType() {
            const type = $(this).val();

            $(this).closest('.question-list').find('.question-body').removeClass('on');
            $(this).closest('.question-list').find('[data-question-type="'+ type +'"]').addClass('on');
        }

        // 보기 추가
        function addItem(e, index) {
            const element = $(e);

            if (parseInt(e.dataset.idx) > 10) {
                alert("서브텍스트 항목은 10개 이상 추가 할 수 없습니다.");
                return false;
            }
            
            element.closest('.col').find('.item-list').append(
                '<div class="item">' +
                    '<div class="column">' +
                        '<input type="text" class="form-control form-control-sm" id="sub_input'+index+'_'+e.dataset.idx+'" name="sub_input'+index+'" value="" placeholder="서브텍스트를 입력해 주세요." maxlength="150">' +
                    '</div>' +
                    '<div class="column">' +
                        '<button type="button" class="btn remove-item" onclick="removeItem(this)"><i data-feather="x-circle"></i></button>' +
                    '</div>' +
                '</div>'
            );

            e.dataset.idx = parseInt(e.dataset.idx) + 1;

            feather.replace();
        }

        // 보기 삭제
        function removeItem(e) {
            e.dataset.idx = parseInt(e.dataset.idx) - 1;
            e.closest('.item').remove();
        }
    </script>
    <script language="javascript">
        /**
         * 연혁 등록 처리
         * 정상 처리 리스트로 이동
         * 에러 처리 에러메세지 출력
         */
        function historyInsert() {
            var hstryYr = $("#hstry_yr").val();
            var mainInput1 = $("#main_input1").val();

            if (hstryYr === "" || hstryYr === null) {
                alert("연도를 입력하세요!");
                $("#hstry_yr").focus();
                return false
            }

            if (mainInput1 === "" || mainInput1 === null) {
                alert("메인텍스트를 입력해 주세요.");
                return false;
            }
            /*
            const input1 = document.querySelectorAll('input[name="sub_input1"]');
            const values1 = Array.from(input1).map(input => input.value);
            const customDelimiter = "|";
            const joinedValue = values1.join(customDelimiter);
            const formData = new FormData();
            formData.append("sub_input1", joinedValue);
            */
            //console.log("========="+JSON.stringify(formData));
            $.ajax({
                url: window.staticPath + 'history/existYearData', // 요청 URL
                type: 'GET', // HTTP 메서드
                data: { hstryYr: hstryYr }, // 보내는 데이터
                success: function(response) {
                    if(response === 'N') {
                        let result = confirm("등록 하시겠습니까?");
                        if (result) {
                            $('input[name*=input]').each(function() {
                                var $input = $(this);
                                var newValue = $input.val().replaceAll(',', '@@RP@@');
                                $input.val(newValue);
                            });
                            //
                            const form = document.forms['history_form'];
                            form.action = window.staticPath + 'history/insert';  //전송할 URL
                            form.method = 'POST';                                    //전송 방식
                            form.target = '';                                        //새 창에서 열기
                            form.submit();                                           //폼 제출
                        }
                    }else{
                        alert('입력하신 연도의 연혁이 존재합니다');
                    }
                },
                error: function(xhr, status, error) {
                }
            });
        }

        function changeTxt(e) {
            const element = $(e);
            const inputs = document.querySelectorAll('input[name="'+e.name+'"]');
            inputs.forEach(input => {
                input.value = input.value.replaceAll(',', '|');
            });
            //alert(e.value.replaceAll(',', '|'));
            //alert(e.id);
        }

        $(document).ready(function() {
            // previewPage 호출 후 복귀시 input 값 원복 처리
            $(window).on('focus', function() {
                $('input[name*=input]').each(function() {
                    var $input = $(this);
                    var newValue = $input.val().replaceAll('@@RP@@', ',');
                    $input.val(newValue);
                });
            });
        });

        function previewPage() {
            var hstryYr = $("#hstry_yr").val();
            var mainInput1 = $("#main_input1").val();

            if (hstryYr === "" || hstryYr === null) {
                alert("연도를 입력하세요!");
                $("#hstry_yr").focus();
                return false
            }

            if (mainInput1 === "" || mainInput1 === null) {
                alert("메인텍스트를 입력해 주세요.");
                return false;
            }

            $('input[name*=input]').each(function() {
                var $input = $(this);
                var newValue = $input.val().replaceAll(',', '@@RP@@');
                $input.val(newValue);
            });

            const form = document.forms['history_form'];
            form.action = window.staticPath + 'history/preview'; // 전송할 URL
            form.method = 'POST';            // 전송 방식
            form.target = '_blank';          // 새 창에서 열기
            form.submit();                   // 폼 제출
        }
    </script>
    <script th:src="@{/js/admin.js}"></script>
</body>
</html>