<!doctype html>
<html lang="ko">
<head th:replace="fragment/config :: configFragment"></head>

<body>
    <div class="wrap">
        <div th:replace="fragment/header :: headerFragment"></div>
    
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="paper">
                            <h2 class="h4">포트폴리오 관리</h2>
                            <div class="mt-4">
                                <form th:action="@{/portfolio/yearInsert}" method="post" name="portfolio_year_form">
                                    <input type="hidden" name="menu_id" th:value="${menuId}"/>
                                    <table class="table table-bordered align-middle">
                                        <tbody>
                                            <tr>
                                                <th class="bg-light">년도</th>
                                                <td>
                                                    <input type="number" class="form-control" id="port_yr" name="port_yr" th:value="${port_yr}" oninput="if(this.value.length > 4) this.value = this.value.slice(0, 4);">
                                                    <input type="hidden" name="beforeYr" th:value="${port_yr}" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="button-container">
                                        <a href="javascript:" class="btn btn-outline-primary">미리보기</a>
                                        <!--<a href="javascript:" class="btn btn-outline-primary" onclick="history.back();">목록보기</a>-->
                                        <a th:href="@{/portfolio/list/{menuId}(menuId=${menuId})}" class="btn btn-outline-primary">목록보기</a>
                                        <button type="button" class="btn btn-primary" onclick="yearUpdate()">수정하기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script th:src="@{/js/admin.js}"></script>
    <script th:inline="javascript">
        // 페이지 로드 시 실행
        window.onload = function () {
            // 페이지 로드 시 메시지 확인 및 알림 표시
            // 수정 및 등록 시 띄울 알림창
            const msg = /*[[${msg}]]*/ '';
            if (msg) alert(msg);
        }

        function yearUpdate() {
            var port_yr = $("#port_yr").val();
            if (port_yr === null || port_yr === '') {
                alert("년도를 입력하세요.")
                $("#port_yr").focus();
                return false;
            }

            $.ajax({
                url: window.staticPath + 'portfolio/existYearData', // 요청 URL
                type: 'GET', // HTTP 메서드
                data: { port_yr: port_yr }, // 보내는 데이터
                success: function(response) {
                    if(response === 'N') {
                        let result = confirm("수정 하시겠습니까?");
                        if (result) {
                            const form = document.forms['portfolio_year_form'];
                            form.action = window.staticPath + 'portfolio/yearUpdate';   //전송할 URL
                            form.method = 'POST';                                    //전송 방식
                            form.target = '';                                        //새 창에서 열기
                            form.submit();                                           //폼 제출
                        }
                    }else{
                        alert('입력하신 년도의 포트폴리오가 존재합니다');
                    }
                },
                error: function(xhr, status, error) {
                }
            });
        }
    </script>
</body>
</html>